
{% extends 'Service/Service_Base.html' %}
{% load static %}
{% block content %}
		<div class="mobile-menu-overlay"></div>

		<div class="main-container">
			<div class="pd-ltr-20 xs-pd-20-10">
				<div class="min-height-200px">
					<div class="page-header">
						<div class="row">
							<div class="col-md-12 col-sm-12">
								<div class="title">
									<h4>Profile</h4>
								</div>
								<nav aria-label="breadcrumb" role="navigation">
									<ol class="breadcrumb">
										<li class="breadcrumb-item">
											<a href="index.html">Home</a>
										</li>
										<li class="breadcrumb-item active" aria-current="page">
											Profile
										</li>
									</ol>
								</nav>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-30">
							<div class="pd-20 card-box height-100-p">
								<div class="profile-photo">
							
								<!-- User Image -->
								{% for i in user %}
									<img
										src="{{i.image.url}}"
										alt=""
										class="avatar-photo"
										style="width:150px;height:150px"
									/>
									{% endfor %}
									<div
										class="modal fade"
										id="modal"
										tabindex="-1"
										role="dialog"
										aria-labelledby="modalLabel"
										aria-hidden="true"
									>
										<div
											class="modal-dialog modal-dialog-centered"
											role="document"
										>
											<div class="modal-content">
											
												<div class="modal-footer">
													<input
														type="submit"
														value="Update"
														class="btn btn-primary"
													/>
													<button
														type="button"
														class="btn btn-default"
														data-dismiss="modal"
													>
														Close
													</button>
												</div>
											</div>
										</div>
									</div>
								</div>
								{% for user in user %}
								<h5 class="text-center h5 mb-0">{{user.fname}} {{user.lname}}</h5>
								<p class="text-center text-muted font-14" style="color:red;">
									{{user.category.name}} Technician 
								</p>
								<div class="profile-info">
									<h5 class="mb-20 h5 text-blue">Details</h5>
									<ul>
										<li>
											<span>Email Address:</span>
											{{email}}
										</li>
										<li>
											<span>Phone Number:</span>
											{{user.phone_no}}
										</li>
										<li>
											<span>District:</span>
											{{user.district}}
										</li>
										<li>
											<span>Address:</span>
											{{user.hname}}<br/>
											{{user.street}} <br/>
											{{user.city}},Pin:{{user.pin}}
										</li>
									</ul>
								</div>
								{% endfor %}
								
							</div>
						</div>
						<div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 mb-30">
							<div class="card-box height-100-p overflow-hidden">
								<div class="profile-tab height-100-p">
									<div class="tab height-100-p">
										<ul class="nav nav-tabs customtab" role="tablist">
										
											{% if count == 1 %}
											<li class="nav-item">
												<a
													class="nav-link"
													data-toggle="tab"
													href="#edittab"
													role="tab"
													>Edit Details</a
												>
											</li>
											{% else %}
											<li class="nav-item">
												<a
													class="nav-link active"
													data-toggle="tab"
													href="#setting"
													role="tab"
													>Add Details</a
												>
											</li>
											{% endif %}
											<li class="nav-item">
												<a
													id="c_pass"
													class="nav-link "
													data-toggle="tab"
													href="#tasks"
													role="tab"
													>Change Password</a
												>
											</li>
										</ul>
										<div class="tab-content">
											


											<script>
                                                    
												function validateform()
												{
													var a=document.getElementById('oldpss').value.trim();
													var b=document.getElementById('pss').value.trim();
													var c=document.getElementById('cpss').value.trim();
						
													var passpatern=/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}/;
						
													if(a=="")
													{
														document.getElementById('ops').style.display="block";
														document.getElementById('ops').innerHTML="**please enter old Password";
														return false;
													}
													else{
															document.getElementById('ops').style.display="none";            
														}
														
													if(b=="")
													{
														document.getElementById('ps').style.display="block";
														document.getElementById('ps').innerHTML="**please enter new Password";
														return false;
													}
						
													if (!b.match(passpatern))
													{
														document.getElementById('ps').style.display="block";
														document.getElementById('ps').innerHTML="**Min length 8 | One Uppercase |One lowercase | One number";
														return false;
													}
													else{
															document.getElementById('ps').style.display="none";
														}
						
														if(c=="")
													{
														document.getElementById('cps').style.display="block";
														document.getElementById('cps').innerHTML="**please enter Confirm Password";
														return false;
													}
													else{
															document.getElementById('cps').style.display="none";
															
														}
														if(b!=c)
														{
															document.getElementById('cps').style.display="block";
															document.getElementById('cps').innerHTML="**Password doesn't match";
															return false;
														}
														else{
																document.getElementById('cps').style.display="none";
																return true;
															}
													}
												</script>




											<!-- Password Tab start -->
											<div class="tab-pane fade" id="tasks" role="tabpanel">
												<div class="pd-20 profile-task-wrap">
													<div class="container pd-0">
														<form method="post" action="{% url 'servicer_change_password' %}" onsubmit="return validateform();">														<!-- Change Password start -->
														{% csrf_token %}
															<div class="form-group">
																<label>Old Password</label>
																<input
																	class="form-control form-control-lg"
																	type="password"
																	name="oldpass"
																	id="oldpss"
																	onblur="return validateform()" onKeyUp="return validateform()"
																/>
																<span id="ops" style="color: red;font-size:12px;"></span>
															</div>
															<div class="form-group">
																<label>New Password</label>
																<input
																	class="form-control form-control-lg"
																	type="password"
																	name="newpass"
																	id="pss"
																	onblur="return validateform()" onKeyUp="return validateform()"
																/>
																<span id="ps" style="color:red;font-size:12px;"></span>
															</div>
															<div class="form-group">
																<label>Confirm Password</label>
																<input
																	class="form-control form-control-lg"
																	type="password"
																	id="cpss"
																	onblur="return validateform()" onKeyUp="return validateform()"
																/>
																<span id="cps" style="color:red;font-size:12px;"></span>
															</div>
															<div class="form-group mb-0">
																<input
																	type="submit"
																	class="btn btn-primary"
																	value="Update"
																	id="passsubmitt"
																/>
															</div>
														</form>

														
														<!-- Change Password End -->
													</div>
												</div>
											</div>
											<!-- Tasks Tab End -->

											{% if not user %}
											<!-- Add Details Tab start -->
											<div
												class="tab-pane fade height-100-p show active"
												id="setting"
												role="tabpanel"
											>
												<div class="profile-setting">
													<form action="{% url 'Service_Details' %}" method="post" enctype="multipart/form-data">
													{% csrf_token %}
														<ul class="profile-edit-list row">
															<li class="weight-500 col-md-6">
																<h4 class="text-blue h5 mb-20">
																 Personal Details 
																</h4>
																<div class="form-group">
																	<label>First Name</label>
																	<input
																		class="form-control form-control-lg"
																		type="text"
																		name="fname"
																		id="first_name"
																	/>
																</div>
																<div class="form-group">
																	<label>Last name</label>
																	<input
																		class="form-control form-control-lg"
																		type="text"
																		name="lname"
																		id="last_name"
																		
																	/>
																</div>
																<div class="form-group">
																	<label>Email</label>
																	<input

																		class="form-control form-control-lg"
																		type="tel"
																		value="{{email}}"
																		readonly
																	/>
																</div>
																<div class="form-group">
																	<label>Phone</label>
																	<input
																		class="form-control form-control-lg"
																		type="tel"
																		name="phone"
																		id="phone_number"
																	/>
																</div>
																
														
																<div class="form-group">
																	<label>Image</label>
																	<input
																		class="form-control form-control-lg"
																		type="file"
																		name="img"
																	/>
																</div>
																<div class="form-group">
																	<label>Specialised Category</label>
																	<select
																		class="selectpicker form-control form-control-lg"
																		data-style="btn-outline-secondary btn-lg"
																		title="Not Chosen"
																		name="category"
																		id="select_category"
																	>
																	
																	{% for i in category %}
																		<option value="{{i.id}}">{{i.name}}</option>
																		{% endfor %}
																	</select>
																</div>
															
															
																<div class="form-group mb-0">
																	<input
																		type="submit"
																		class="btn btn-primary"
																		value="Save"
																		id="save_data"
																	/>
																</div>
															</li>
															<li class="weight-500 col-md-6">
																<h4 class="text-blue h5 mb-20">
																Address
																</h4>
																<div class="form-group">
																	<label>Hname</label>
																	<input
																		class="form-control form-control-lg"
																		type="text"
																		name="hname"
																		id="house_name"
																	/>
																</div>
																<div class="form-group">
																	<label>Street</label>
																	<input
																		class="form-control form-control-lg"
																		type="text"
																		name="street"
																		id="street_id"
																	/>
																</div>
																<div class="form-group">
																	<label>City</label>
																	<input
																		class="form-control form-control-lg"
																		type="text"
																		name="city"
																		id="city_id"
																	/>
																</div>
																<div class="form-group">
																	<label>Postal Code</label>
																	<input
																		class="form-control form-control-lg"
																		type="text"
																		name="pin"
																		id="pin_id"
																	/>
																</div>
																<div class="form-group">
																	<label>District</label>
																	<select
																		class="selectpicker form-control form-control-lg"
																		data-style="btn-outline-secondary btn-lg"
																		title="Not Chosen"
																		name="district"
																		id="district_id"
																	>
																		<option>Thrissur</option>
																		<option>Kozhikode</option>
																		<option>Ernakulam</option>
																	</select>
																</div>
															</li>
															
														</ul>
													</form>
												</div>
											</div>
											<!-- Setting Tab End -->
											{% else %}










											<script>
												function validateeditprofile()
												{
													var firstname=document.getElementById('first_name').value.trim();
													var lastname=document.getElementById('last_name').value.trim();
													var phone=document.getElementById('phone_number').value.trim();
													var house=document.getElementById('housename').value.trim();
													var street=document.getElementById('street').value.trim();
													var city=document.getElementById('city').value.trim();
													// var pin=document.getElementById('pin').value.trim();
													var expr = /^[6-9]\d{9}$/;
													// var pin_expr = /^[0-9]\d{5}$/;
									
													if(firstname=="")
													{
														document.getElementById('firstname_error').style.display="block";
														document.getElementById('firstname_error').innerHTML="**Please enter first name";
														return false;
													}
													if (/[^a-zA-Z^\s]/.test(firstname))
														{
															document.getElementById('firstname_error').style.display="block";
															document.getElementById('firstname_error').innerHTML="**Only Alphabets Allowed";
															return false;
														}
													else{
															document.getElementById('firstname_error').style.display="none";
														}
						
													if(lastname=="")
													{
														document.getElementById('lastname_error').style.display="block";
														document.getElementById('lastname_error').innerHTML="**Please enter last name";
														return true;
													}
													if (/[^a-zA-Z^\s]/.test(lastname))
														{
															document.getElementById('lastname_error').style.display="block";
															document.getElementById('lastname_error').innerHTML="**Only Alphabets Allowed";
															return false;
														}
													else{
															document.getElementById('lastname_error').style.display="none";
														}
													
													
													if(phone=="")
													{
														document.getElementById('phone_error').style.display = "block";
									
														document.getElementById('phone_error').innerHTML="**PleaseEnter  phone number";
														return false;
													}
													if(phone!="" && expr.test(phone)==false){
														document.getElementById('phone_error').style.display= "block";
														document.getElementById('phone_error').innerHTML ="Invalid Phone number";
														return false;
													}
													else
													{
														document.getElementById('phone_error').style.display = "none";
													}
													
						
													if(house=="")
													{
														document.getElementById('house_error').style.display="block";
														document.getElementById('house_error').innerHTML="**Please enter house name";
														return false;
													}
													else
													{
														document.getElementById('house_error').style.display = "none";
													}
						
													if(street=="")
													{
														document.getElementById('street_error').style.display="block";
														document.getElementById('street_error').innerHTML="**Please enter street name";
														return false;
													}
													else
													{
														document.getElementById('street_error').style.display = "none";
													}
						
													if(city=="")
													{
														document.getElementById('city_error').style.display="block";
														document.getElementById('city_error').innerHTML="**Please enter city ";
														return false;
													}
													else
													{
														document.getElementById('city_error').style.display = "none";
														return true;
													}
													
													// if(pin=="")
													// {
													// 	document.getElementById('pin_error').style.display="block";
													// 	document.getElementById('pin_error').innerHTML="**Please enter pin ";
													// 	return false;
													// }
													// if(pin!="" && pin_expr.test(pin)==false){
													// 	document.getElementById('pin_error').style.display= "block";
													// 	document.getElementById('pin_error').innerHTML ="Invalid pin number";
													// 	return false;
													// }
													// else
													// {
													// 	document.getElementById('pin_error').style.display = "none";
													// 	return true;
													
													// }
												  
												}
										</script>
											<!-- Edit Details Area -->
											<div
												class="tab-pane fade height-100-p show active"
												id="edittab"
												role="tabpanel"
											>
												<div class="profile-setting">
													<form action="{% url 'Service_Details_Update' %}" method="post" enctype="multipart/form-data" onsubmit="return validateeditprofile()">
													{% csrf_token %}
														<ul class="profile-edit-list row">
															<li class="weight-500 col-md-6">
																<h4 class="text-blue h5 mb-20">
																 Edit Details 
																</h4>
																{% for user in user %}
																<div class="form-group">
																	<label>First Name</label>
																	<input
																		class="form-control form-control-lg"
																		type="text"
																		name="fname"
																		value="{{user.fname}}"
																		id="first_name"
																		onblur="return validateeditprofile()" onKeyUp="return validateeditprofile()"
																	/>
																	<span id="firstname_error" style="color:red;font-size:12px;"></span>
																</div>
																<div class="form-group">
																	<label>Last name</label>
																	<input
																		class="form-control form-control-lg"
																		type="text"
																		name="lname"
																		id="last_name"
																		value="{{user.lname}}"
																		onblur="return validateeditprofile()" onKeyUp="return validateeditprofile()"
																	/>
																	<span id="lastname_error" style="color:red;font-size:12px;"></span>

																</div>
																<div class="form-group">
																	<label>Email</label>
																	<input
																		class="form-control form-control-lg"
																		type="tel"
																		value="{{email}}"
																		readonly
																	/>
																</div>
																<div class="form-group">
																	<label>Phone</label>
																	<input
																		class="form-control form-control-lg"
																		type="tel"
																		name="phone"
																		value="{{user.phone_no}}"
																		id="phone_number"
																		maxlength="10"
																		onblur="return validateeditprofile()" onKeyUp="return validateeditprofile()"
																	/>
																	<span id="phone_error" style="color:red;font-size:12px;"></span>
																</div>
																<div class="form-group">
																	<label>Specialised Category</label>
																	<select
																		class="selectpicker form-control form-control-lg"
																		data-style="btn-outline-secondary btn-lg"
																		name="category"
																	>
																	<option value="{{user.category_id}}">{{user.category.name}}</option>
															
																	{% for i in category %}
																		<option value="{{i.id}}">{{i.name}}</option>
																		{% endfor %}
																	</select>
																</div>
															
															
																<div class="form-group mb-0">
																	<input
																		type="submit"
																		class="btn btn-primary"
																		value="Update"
																		id="edit_submitt"
																	/>
																</div>
															</li>
															<li class="weight-500 col-md-6">
																<h4 class="text-blue h5 mb-20">
																Address
																</h4>
																<div class="form-group">
																	<label>House Name</label>
																	<input
																		class="form-control form-control-lg"
																		type="text"
																		name="hname"
																		value="{{user.hname}}"
																		id="housename"
																		onblur="return validateeditprofile()" onKeyUp="return validateeditprofile()"
																	/>
																	<span id="house_error" style="color:red;font-size:12px;"></span>
																</div>
																<div class="form-group">
																	<label>Street</label>
																	<input
																		class="form-control form-control-lg"
																		type="text"
																		name="street"
																		value="{{user.street}}"
																		id="street"
																		onblur="return validateeditprofile()" onKeyUp="return validateeditprofile()"
																	/>
																	<span id="street_error" style="color:red;font-size:12px;"></span>

																</div>
																<div class="form-group">
																	<label>City</label>
																	<input
																		class="form-control form-control-lg"
																		type="text"
																		name="city"
																		value="{{user.city}}"
																		id="city"
																		onblur="return validateeditprofile()" onKeyUp="return validateeditprofile()"
																	/>
																	<span id="city_error" style="color:red;font-size:12px;"></span>
																</div>
																<div class="form-group">
																	<label>Postal Code</label>
																	<input
																		class="form-control form-control-lg"
																		type="text"
																		name="pin"
																		value="{{user.pin}}"

																	/>
																</div>
																<div class="form-group">
																	<label>District</label>
																	<select
																		class="selectpicker form-control form-control-lg"
																		data-style="btn-outline-secondary btn-lg"
																		name="district"
																	>
																		<option>{{user.district}}</option>
																		<option>Thrissur</option>
																		<option>Kozhikode</option>
																		<option>Ernakulam</option>
																	</select>
																</div>
																{% endfor %}
																
															</li>
														</ul>
													</form>
												</div>
											</div>
					<!-- End of Edit Details  -->
											{% endif %}

										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="footer-wrap pd-20 mb-20 card-box" style="font-weight:bold;color:rgb(255, 106, 0);">
					Smart Store
				</div>
			</div>
		</div>
	
		<script>
			window.addEventListener("DOMContentLoaded", function () {
				var image = document.getElementById("image");
				var cropBoxData;
				var canvasData;
				var cropper;

				$("#modal")
					.on("shown.bs.modal", function () {
						cropper = new Cropper(image, {
							autoCropArea: 0.5,
							dragMode: "move",
							aspectRatio: 3 / 3,
							restore: false,
							guides: false,
							center: false,
							highlight: false,
							cropBoxMovable: false,
							cropBoxResizable: false,
							toggleDragModeOnDblclick: false,
							ready: function () {
								cropper.setCropBoxData(cropBoxData).setCanvasData(canvasData);
							},
						});
					})
					.on("hidden.bs.modal", function () {
						cropBoxData = cropper.getCropBoxData();
						canvasData = cropper.getCanvasData();
						cropper.destroy();
					});
			});
		</script>
		{% endblock %}