
{% extends 'Service/Service_Base.html' %}
{% load static %}
{% block content %}
		<div class="mobile-menu-overlay"></div>

		<div class="main-container">
			<div class="pd-ltr-20 xs-pd-20-10">
				<div class="min-height-200px">
					<div class="page-header">
						<div class="row">
							<div class="col-md-12 col-sm-12">
								<div class="title">
									<h4>Product</h4>
								</div>
								<nav aria-label="breadcrumb" role="navigation">
									<ol class="breadcrumb">
										<li class="breadcrumb-item">
											<a href="#">Home</a>
										</li>
										<li class="breadcrumb-item active" aria-current="page">
											Product
										</li>
									</ol>
								</nav>
							</div>
						</div>
					</div>
					<!-- For alert Message -->
				{% include 'alert.html' %}

				<script>
					setTimeout(function(){
					if ($('#msg').length > 0){
						$('#msg').remove();
						}
					},4000)

				</script>
					<div class="row">
						
                        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 mb-30" >
							<div class="card-box height-100-p overflow-hidden" style="width: 1010px;">
								<div class="profile-tab height-100-p">
									<div class="tab height-100-p">
										<ul class="nav nav-tabs customtab" role="tablist">
											
											
											<li class="nav-item">
												<a
													class="nav-link active"
													data-toggle="tab"
													href="#setting"
													role="tab"
													>General</a
												>
											</li>
                                            <li class="nav-item">
												<a
													class="nav-link"
													data-toggle="tab"
													href="#edittab"
													role="tab"
													>Issues</a
												>
											</li>
											<li class="nav-item">
												<a
													class="nav-link"
													data-toggle="tab"
													href="#tasks"
													role="tab"
													>Service Bill</a
												>
											</li>

                                            
										</ul>
										<div class="tab-content"  id="bill-content">
											
											<!-- <div class="tab-pane fade" id="tasks" role="tabpanel">
												<div class="pd-20 profile-task-wrap">
													<div class="container pd-0">
                                                        <form method="post" action="#">
                                                        <ul class="profile-edit-list row">
															<li class="weight-500 col-md-6">
																<h4 class="text-blue h5 mb-20">
																</h4>
																<div class="form-group">
																	<label>Spare Part Name</label>
																	<input
																		class="form-control form-control-lg"
																		type="text"
																	/>
																</div>
                                                                <div class="form-group mb-0">
																	<input
																		type="submit"
																		class="btn btn-primary"
																		value="Submit"
																	/>
																</div>
                                                            </li>

															<li class="weight-500 col-md-6">
																<h4 class="text-blue h5 mb-20">
																</h4>
																<div class="form-group">
																	<label>Amount</label>
																	<input
																		class="form-control form-control-lg"
																		type="text"
																	/>
																</div>
															</li>
														</ul>
                                                    </form>
													</div>
												</div>
											</div>
											 -->





											 <div class="tab-pane fade" id="tasks" role="tabpanel" style="height: 900px;">
												<div class="pd-20 profile-task-wrap">
												  <div class="container pd-0">








										









													<div class="form-group">
													  <label>Select Option</label>
													  <select class="form-control" id="select-form">
														<option >Select Option</option>
														<option value="add-spare-part-form">Add Spare Part Details</option>
														<option value="add-another-form">Add work hours</option>
													  </select>
													</div>


													<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
										  
													<form id="add-spare-part-form" method="post" action="{% url 'service_Bill' %}" style="display:none">
														{% csrf_token %}
														<ul class="profile-edit-list row">
														<li class="weight-500 col-md-6">
														  <h4 class="text-blue h5 mb-20">Add Spare Part Details</h4>
														  <div class="amount-group">
															<div  style="display: flex;">
																<div class="form-group" style="margin-right: 10px;">
																<label>Spare Part Name</label>
																{% for i in product %}
																<input  name="product" value="{{i.product_id}}" type="text" style="display:none;"/>
																{% endfor %}
																<input class="form-control form-control-lg" name="spare" type="text" style="width:350px;"/>
																</div>
																<div class="form-group">
																<label>Amount</label>
																<input class="form-control form-control-lg" name="amount" type="text" style="width:100px;"/>
																</div>
																<a class="add-more" style="font-size: 30px;margin-bottom:-200px;color:green;cursor: pointer;" title="Add More"> + </a>
														     </div>
														  </div><br>

														  <div class="form-group mb-0">
															<input type="submit" class="btn btn-primary" value="Submit" />
														  </div>
														</li>
													  </ul>
													</form>


													<script>
														$(document).ready(function() {
														  var max_fields = 5; // maximum number of input fields
														  var wrapper = $(".amount-group"); // element to add new input fields to
														  var add_button = $(".add-more"); // "Add more" anchor element
													
														  var count = 1; // current number of input fields
													
														  $(add_button).click(function(e) {
															e.preventDefault();
															if (count < max_fields) {
															  count++;
															  var new_field = $('<div  style="display: flex;"><div class="form-group"  style="margin-right: 10px;"><label>Enter spare part name</label><input name="spare" class="form-control form-control-lg" type="text" style="width:350px;"/></div>   <div class="form-group"><label>Amount</label><input name="amount" class="form-control form-control-lg" type="text" style="width:100px;"/><a class="remove-field" style="font-size:15px;margin-bottom:-200px;color:red;cursor: pointer;" title="Remove">X</a></div><div  style="display: flex;">');
															  $(wrapper).append(new_field);
															  $(new_field).find(".remove-field").click(function() {
																$(this).parents('div').eq(1).remove();
																count--;
															  });
															}
														  });
														});
													  </script>



													
										  
													<form id="add-another-form" method="post" action="{% url 'work_hour' %}" style="display:none">
														{% csrf_token %}
														<ul class="profile-edit-list row">
														<li class="weight-500 col-md-6">
														  <!-- <h4 class="text-blue h5 mb-20">Add work hour</h4> -->
														  <div class="form-group">
															<label>Add work hour in minutes</label>
															<input class="form-control form-control-lg" type="text" name="hour"/>
														  </div>
														 		 {% for i in product %}
																<input  name="product" value="{{i.id}}" type="text" style="display:none;"/>
																{% endfor %}
														 
														  <div class="form-group mb-0">
															<input type="submit" class="btn btn-primary" value="Submit" />
														  </div>
														</li>
													  </ul>
													</form>
												  </div>
												</div>
											  </div>
										  
											  <script>
												document.getElementById("select-form").addEventListener("change", function() {
												  var selectedForm = document.getElementById(this.value);
												  var otherForm = document.getElementById(this.value == "add-spare-part-form" ? "add-another-form" : "add-spare-part-form");
												  selectedForm.style.display = "block";
												  otherForm.style.display = "none";
												});
											  </script>
											   
											 


									



											<!-- Add Details Tab start -->
											<div
												class="tab-pane fade height-100-p show active"
												id="setting"
												role="tabpanel"
											>
												<div class="profile-setting">
                                                    {% for i in product %}
													

													
                                                    <ul class="profile-edit-list row">
														
															<li class="weight-500 col-md-6">
																<h4 class="text-blue h5 mb-20">
												
																</h4>
																<div class="form-group">
																	<label>Category</label>
																	<input
																		class="form-control form-control-lg"
																		type="text"
																		value="{{i.product.category}}"
                                                                        readonly
																	/>
																</div>
															
																<div class="form-group">
																	<label>Model</label>
																	<input
																		class="form-control form-control-lg"
																		type="tel"
																		value="{{i.product.model}}"
																		readonly
																	/>
																</div>
																<div class="form-group">
																	<label>Waranty</label>
																	<input
																		class="form-control form-control-lg"
																		type="tel"
																		value="{{i.product.waranty}}"
                                                                        readonly
																	/>
																</div>

                                                                <div class="form-group">
																	<label>Download SmartStore Purchase Bill ---></label>
                                                                    <a href="{% url 'download_pdf' i.product.id %}" style="color: red;">Click here</a>
																</div>



															<li class="weight-500 col-md-6">
																<h4 class="text-blue h5 mb-20">
																</h4>
																<div class="form-group">
																	<label>Brand</label>
																	<input
																		class="form-control form-control-lg"
																		type="text"
																		value="{{i.product.brand}}"
                                                                        readonly
																	/>
																</div>
																<div class="form-group">
																	<label>Model Number</label>
																	<input
																		class="form-control form-control-lg"
																		type="text"
																		value="{{i.product.model_no}}"
                                                                        readonly
																	/>
																</div>
																<div class="form-group">
																	<label>Requested Date</label>
																	<input
																		class="form-control form-control-lg"
																		type="text"
																		value="{{i.product.date |date:"jS M Y" }}"
                                                                        readonly
																	/>
																</div>
															</li>
														</ul>
                                                        {% endfor %}





										<h5 class="text-blue h5" style="text-align: center;">Service Bill Details</h5>
														<!-- basic table  Start -->
										<div class="pd-20 card-box mb-30">
											<div class="clearfix mb-20">
												<div class="pull-left">
													{% for i in product %}
													<h5 class="text-blue h5">Total Work Hour : {{i.work_hour}} hr</h5>
													{% endfor %}
												</div>
												<div class="pull-right">
                                                    {% for i in product %}

													<a
														href="{% url 'view_bill' i.id %}"
														class="btn btn-primary "
														id="generate-bill"
														onclick="window.location.href = window.location.href;"
														><i class="fa fa-file"></i> Generate Bill</a>

													{% endfor %}
												</div>
											</div>
											<table class="table">
												<thead>
													<tr>
														<th scope="col">#</th>
														<th scope="col">Spare Name</th>
														<th scope="col">Amount</th>
														<th scope="col">Action</th>
													</tr>
												</thead>
												<tbody>
													{% if count == 0 %}
													<tr  style="text-align: center;"><td colspan="7">No data fount..add new</td></tr>
													{% else %}
													{% for i in  bill%}
													<tr>
														<th scope="row">{{forloop.counter}}</th>
														<td>{{i.sparepart}}</td>
														<td>{{i.amount}}</td>
														<td><a href="{% url 'remove_bill_data' i.id %}"><span class="badge badge-danger" style="cursor: pointer;">Remove</span></a></td>
													</tr>
													{% endfor %}
													{% endif %}
												</tbody>
											</table>
										</div>
										<!-- basic table  End -->


										<script>
											function refreshDiv() {
											$('#myDiv').load(window.location.href + ' #myDiv');
										}

										</script>


                                                        <div style="text-align: center;"  >
															{% for i in product %}
															{% if i.service_bill == "" %}
															<button type="button" class="btn btn-danger" id="finish-work-btn" disabled title="First generate the bill">Finish Work</button>
															{% else %}
															<button type="button" class="btn btn-danger" id="finish-work-btn"  title="First generate the bill">Finish Work</button>
															{% endif %}
															{% endfor %}
															<div id="confirmation-popup" style="display: none;margin-top:20px;">
															  <p style="font-weight:bold;">Are you sure you want to finish your work?</p>
															{% for i in product %}
															  <a href="{% url 'send_email_with_bill' i.id %}"><button type="button" class="btn btn-success" id="confirm-btn">Confirm</button></a>
															 {% endfor %}
															  <button type="button" class="btn btn-danger" id="cancel-btn">Cancel</button>
															</div>
														  </div>
														  
														  <script>
															const finishWorkBtn = document.getElementById('finish-work-btn');
															const confirmationPopup = document.getElementById('confirmation-popup');
															const confirmBtn = document.getElementById('confirm-btn');
															const cancelBtn = document.getElementById('cancel-btn');
														  
															finishWorkBtn.addEventListener('click', () => {
															  confirmationPopup.style.display = 'block';
															});
														  
															confirmBtn.addEventListener('click', () => {
															  // User confirmed, do something here
															  // For example, submit a form or redirect to a new page
															  confirmationPopup.style.display = 'none';
															});
														  
															cancelBtn.addEventListener('click', () => {
															  // User canceled, do nothing
															  confirmationPopup.style.display = 'none';
															});
														  </script>
														  
                                                    </div>
											</div>
											<!-- Setting Tab End -->

											<!-- Edit Details Area -->
											<div
												class="tab-pane fade height-100-p show active"
												id="edittab"
												role="tabpanel"
											>
												<div class="profile-setting">
													<form action="{% url 'Service_Details_Update' %}" method="post" enctype="multipart/form-data">
														<ul class="profile-edit-list row">
															<li class="weight-500 col-md-6">
																{% for i in product %}
																<div class="form-group">
																	<label>Issues</label>
																	<textarea class="form-control"  readonly>{{i.product.issues}}</textarea>
																</div>
                                                                {% endfor %}
																
															</li>
															
														</ul>
													</form>
												</div>
											</div>


                                            




										</div>
                                        
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="footer-wrap pd-20 mb-20 card-box" style="font-weight:bold;color:rgb(255, 106, 0);margin-top:60px;">
					Smart Store
				</div>
			</div>
		</div>
	
		<script>
			window.addEventListener("DOMContentLoaded", function () {
				var image = document.getElementById("image");
				var cropBoxData;
				var canvasData;
				var cropper;

				$("#modal")
					.on("shown.bs.modal", function () {
						cropper = new Cropper(image, {
							autoCropArea: 0.5,
							dragMode: "move",
							aspectRatio: 3 / 3,
							restore: false,
							guides: false,
							center: false,
							highlight: false,
							cropBoxMovable: false,
							cropBoxResizable: false,
							toggleDragModeOnDblclick: false,
							ready: function () {
								cropper.setCropBoxData(cropBoxData).setCanvasData(canvasData);
							},
						});
					})
					.on("hidden.bs.modal", function () {
						cropBoxData = cropper.getCropBoxData();
						canvasData = cropper.getCanvasData();
						cropper.destroy();
					});
			});
		</script>
		{% endblock %}