
{% extends 'Service/Service_Base.html' %}
{% load static %}
{% block content %}
		<div class="mobile-menu-overlay"></div>

		<div class="main-container">
			<div class="pd-ltr-20 xs-pd-20-10">
				<div class="min-height-200px">
					<div class="page-header">
						<div class="row">
							<div class="col-md-12 col-sm-12">
								<div class="title">
									<h4>Product</h4>
								</div>
								<nav aria-label="breadcrumb" role="navigation">
									<ol class="breadcrumb">
										<li class="breadcrumb-item">
											<a href="#">Home</a>
										</li>
										<li class="breadcrumb-item active" aria-current="page">
											Product
										</li>
									</ol>
								</nav>
							</div>
						</div>
					</div>
					<div class="row">
						
                        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 mb-30" >
							<div class="card-box height-100-p overflow-hidden" style="width: 1010px;">
								<div class="profile-tab height-100-p">
									<div class="tab height-100-p">
										<ul class="nav nav-tabs customtab" role="tablist">
											
											
											<li class="nav-item">
												<a
													class="nav-link active"
													data-toggle="tab"
													href="#setting"
													role="tab"
													>Product Details</a
												>
											</li>
                                            <li class="nav-item">
												<a
													class="nav-link"
													data-toggle="tab"
													href="#edittab"
													role="tab"
													>Issues</a
												>
											</li>
											<li class="nav-item">
												<a
													class="nav-link"
													data-toggle="tab"
													href="#tasks"
													role="tab"
													>Service Bill</a
												>
											</li>

                                            
										</ul>
										<div class="tab-content">
											
											<div class="tab-pane fade" id="tasks" role="tabpanel">
												<div class="pd-20 profile-task-wrap">
													<div class="container pd-0">
                                                        <form method="post" action="#">
                                                        <ul class="profile-edit-list row">
															<li class="weight-500 col-md-6">
																<h4 class="text-blue h5 mb-20">
																</h4>
																<div class="form-group">
																	<label>Spare Part Name</label>
																	<input
																		class="form-control form-control-lg"
																		type="text"
																	/>
																</div>
                                                                <div class="form-group mb-0">
																	<input
																		type="submit"
																		class="btn btn-primary"
																		value="Submit"
																	/>
																</div>
                                                            </li>

															<li class="weight-500 col-md-6">
																<h4 class="text-blue h5 mb-20">
																</h4>
																<div class="form-group">
																	<label>Amount</label>
																	<input
																		class="form-control form-control-lg"
																		type="text"
																	/>
																</div>
															</li>
														</ul>
                                                    </form>
													</div>
												</div>
											</div>
											<!-- Tasks Tab End -->

											<!-- Add Details Tab start -->
											<div
												class="tab-pane fade height-100-p show active"
												id="setting"
												role="tabpanel"
											>
												<div class="profile-setting">
                                                    {% for i in product %}
                                                    <ul class="profile-edit-list row">
															<li class="weight-500 col-md-6">
																<h4 class="text-blue h5 mb-20">
																</h4>
																<div class="form-group">
																	<label>Category</label>
																	<input
																		class="form-control form-control-lg"
																		type="text"
																		value="{{i.product.category}}"
                                                                        readonly
																	/>
																</div>
															
																<div class="form-group">
																	<label>Model</label>
																	<input
																		class="form-control form-control-lg"
																		type="tel"
																		value="{{i.product.model}}"
																		readonly
																	/>
																</div>
																<div class="form-group">
																	<label>Waranty</label>
																	<input
																		class="form-control form-control-lg"
																		type="tel"
																		value="{{i.product.waranty}}"
                                                                        readonly
																	/>
																</div>

                                                                <div class="form-group">
																	<label>Download SmartStore Purchase Bill ---></label>
                                                                    <a href="{% url 'download_pdf' i.product.id %}" style="color: red;">Click here</a>
																</div>



															<li class="weight-500 col-md-6">
																<h4 class="text-blue h5 mb-20">
																</h4>
																<div class="form-group">
																	<label>Brand</label>
																	<input
																		class="form-control form-control-lg"
																		type="text"
																		value="{{i.product.brand}}"
                                                                        readonly
																	/>
																</div>
																<div class="form-group">
																	<label>Model Number</label>
																	<input
																		class="form-control form-control-lg"
																		type="text"
																		value="{{i.product.model_no}}"
                                                                        readonly
																	/>
																</div>
																<div class="form-group">
																	<label>Requested Date</label>
																	<input
																		class="form-control form-control-lg"
																		type="text"
																		value="{{i.product.date |date:"jS M Y" }}"
                                                                        readonly
																	/>
																</div>
															</li>
														</ul>
                                                        {% endfor %}

                                                        <div style="text-align:center;"> *********************************************************************************** </div>
                                                        <div style="text-align: center;">
                                                            <h5 style="text-align:center;color: rgb(253, 148, 29);">Finish Work</h5>

                                                            <button type="button" class="btn btn-danger">Finish Work</button>
                                                            <div>
                                                                <p></p>
                                                                <button type="button" class="btn btn-success">Yes</button>
                                                                <button type="button" class="btn btn-danger">No</button>
                                                            </div>
                                                        </div>
                                                    </div>
											</div>
											<!-- Setting Tab End -->

											<!-- Edit Details Area -->
											<div
												class="tab-pane fade height-100-p show active"
												id="edittab"
												role="tabpanel"
											>
												<div class="profile-setting">
													<form action="{% url 'Service_Details_Update' %}" method="post" enctype="multipart/form-data">
														<ul class="profile-edit-list row">
															<li class="weight-500 col-md-6">
																{% for i in product %}
																<div class="form-group">
																	<label>Issues</label>
																	<textarea class="form-control"  readonly>{{i.product.issues}}</textarea>
																</div>
                                                                {% endfor %}
																
															</li>
															
														</ul>
													</form>
												</div>
											</div>


                                            




										</div>
                                        
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="footer-wrap pd-20 mb-20 card-box" style="font-weight:bold;color:rgb(255, 106, 0);margin-top:60px;">
					Smart Store
				</div>
			</div>
		</div>
	
		<script>
			window.addEventListener("DOMContentLoaded", function () {
				var image = document.getElementById("image");
				var cropBoxData;
				var canvasData;
				var cropper;

				$("#modal")
					.on("shown.bs.modal", function () {
						cropper = new Cropper(image, {
							autoCropArea: 0.5,
							dragMode: "move",
							aspectRatio: 3 / 3,
							restore: false,
							guides: false,
							center: false,
							highlight: false,
							cropBoxMovable: false,
							cropBoxResizable: false,
							toggleDragModeOnDblclick: false,
							ready: function () {
								cropper.setCropBoxData(cropBoxData).setCanvasData(canvasData);
							},
						});
					})
					.on("hidden.bs.modal", function () {
						cropBoxData = cropper.getCropBoxData();
						canvasData = cropper.getCanvasData();
						cropper.destroy();
					});
			});
		</script>
		{% endblock %}