{% extends 'Customer/base.html' %}

{% load static %}
{% block content %}

            <!-- Page Title -->
            <div class="bg-light py-4 mb-4 mb-lg-10">
                <div class="container d-lg-flex justify-content-between align-items-center py-2 py-lg-4">
                    <div class="pe-lg-4 text-center text-lg-start">
                        <h1 class="h3 mb-0">{{sub_category.category.name}}</h1>
                    </div>
                    <div class="pt-2 pt-lg-0">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb flex-lg-nowrap justify-content-center justify-content-lg-start">
                                <li class="breadcrumb-item">
                                    {% if email in email %}
                                    <a class="text-nowrap" href="{% url 'home' %}">
                                        <i class="ri-store-2-line"></i>
                                        Home
                                    </a>
                                    {% else %}
                                    <a class="text-nowrap" href="{% url 'demo' %}">
                                        <i class="ri-store-2-line"></i>
                                        Home
                                    </a>
                                    {% endif %}
                                </li>
                                </li>
                                <li class="breadcrumb-item text-nowrap active" aria-current="page">Category </li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
            <!-- Page Title -->

            <!-- Product Category -->
            <div class="container">
                <div class="row g-lg-4">
                    <!-- Sidebar -->
                    <section class="col-lg-4">
                        <div class="offcanvas offcanvas-collapse offcanvas-start rounded-3 shadow" id="category-sidebar" style="max-width: 23rem;">
                            <div class="offcanvas-header align-items-center shadow-sm">
                                <h2 class="h5 mb-0">Filters</h2>
                                <button class="btn-close ms-auto" type="button" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                            </div>
                            <div class="offcanvas-body p-lg-8">
                                <!-- Categories -->
                                <div class="widget widget-categories pb-5 mb-5 border-bottom">
                                    <h3 class="widget-title">Categories</h3>
                                    <div class="accordion mt-n2" id="shop-categories">
                                        <!-- Computers -->
                                        
                                        
                                        {% for i in category %}
                                            <div class="accordion-item">
                                                <h3 class="accordion-header">
                                                    <a class="accordion-button" href="#category-computers" role="button" data-bs-toggle="collapse" aria-expanded="true" aria-controls="category-computers">{{i.name}}</a>
                                                </h3>
                                                <div class="accordion-collapse collapse " id="category-computers" data-bs-parent="#shop-categories">
                                                    <div class="accordion-body">
                                                        <div class="widget widget-links border-start">
                                                            <ul class="widget-list">
                                                                
                                                                
                                                                {% for j in subcategory %}
                                                                    {% if i.id == j.category_id %}
                                                                    <li class="widget-list-item border-bottom pb-2">
                                                                        <a class="widget-list-link d-flex justify-content-between align-items-center" href="{% url 'category_product' j.id  %}">
                                                                            <span>{{ j.name }}</span>
                                                                        </a>
                                                                    </li>
                                                                {% endif %}
                                                                {% endfor %}
                                                                


                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}




                                    </div>
                                </div>
                                <!-- Categories -->

                            </div>
                        </div>
                    </section>
                    <!-- Sidebar -->

                    <!-- Content -->
                    <aside class="col-lg-8">
                        <!-- Swiper Heading -->
                        
                        <!-- Swiper Heading -->

                        
                        <!-- Slider -->

                        <!-- Toolbar -->
                        <div class="card bg-light border-gray-200 mt-5 mb-10">
                            <div class="card-body">
                                <div class="d-flex align-items-center justify-content-between">
                                    <form class="row row-cols-auto g-4 align-items-center me-3">
                                       
                                    </form>

                                    <ul class="nav nav-pills flex-nowrap" id="pills-tab" role="tablist">
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link active py-2 px-3" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">
                                                <i class="ri-function-line fs-5"></i>
                                            </button>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link py-2 px-3" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">
                                                <i class="ri-list-check fs-5"></i>
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- Toolbar -->

                     

                        <div class="tab-content" id="pills-tabContent">
                            <!-- Product Grid -->
                           
                            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                                <!-- Product Cards -->
                                <div class="row pt-2 mx-n2 mb-4 mb-sm-8">
                                    <!-- Product -->
                                    
                                    
                                    
                                    
					            {% for product in product %}
                                    <div class="col-sm-6 col-md-4 px-2 mb-4">
                                        <div class="card card-product h-100">
                                            <!-- Badges -->
                                            <div class="product-badges">
                                                <span class="badge bg-danger">{{product.percentage}}%</span>
                                                <!-- <span class="badge bg-success">Top</span> -->
                                            </div>
                                            <!-- Badges -->

                                            <!-- Buttons -->
                                            <div class="product-buttons">
                                                <a class="btn-product" href="{%  url 'add_wishlist' product.id %}"  title="Add to wishlist"><i class="ri-heart-line"></i></a>
                                                </a>
                                             
                                            </div>
                                            <!-- Buttons -->

                                            <!-- Preview Image -->
                                            <a class="card-img-top d-block overflow-hidden flex-shrink-0" href="{%  url 'singleproduct' product.id %}">
                                                <img class="img-fluid" style="height: 200px;" src="{{product.image.url}}" alt="Product">
                                            </a>
                                            <!-- Preview Image -->

                                            <div class="card-body d-flex flex-column align-items-start flex-grow-1 h-100 py-3">
                                                <!-- Product Category -->
                                                <a class="product-category d-block link-dark fs-sm pb-1" href="#">{{product.subcategory.name}}</a>
                                                <!-- Product Category -->

                                                <!-- Product Title -->
                                                <h3 class="product-title flex-grow-1">
                                                    <a href="#">{{product.name}}</a>
                                                </h3>
                                                <!-- Product Title -->

                                                <!-- Star Rating -->
                                                <span class="star-rating star-8"></span>
                                                <!-- Star Rating -->

                                                <!-- Product Price -->
                                                <div class="product-price">
                                                    <span class="text-danger fs-5">₹{{product.selling_price}}<del class="text-muted ms-1"><small>₹{{product.original_price}}</small></del>
                                                    </span>
                                                </div>
                                                <!-- Product Price -->

                                                <!-- Product Meta -->
                                                <span class="product-meta text-muted fs-xs">
                                                    Only <span>{{product.stock}}</span> left in stock
                                                </span>
                                                <!-- Product Meta -->
                                            </div>

                                            <!-- Product Addon -->
                                            <div class="card-body product-addon">
                                                <!-- Button -->
                                                <a class="btn btn-primary btn-sm d-flex align-items-center justify-content-center w-100" href="{%  url 'add_cart' product.id %}"><i class="ri-shopping-cart-2-line me-2"></i>Add to Cart</a>
                                                <!-- Button -->

                                                <hr class="my-4 d-none d-lg-block">

                                                <!-- Product Details -->
                                                <div class="product-details d-none d-lg-block fs-sm">
                                                    <ul class="m-0 ps-4">
                                                        <!-- <li>Screen: 5.8"</li>
                                                        <li>Hardware: 6 cores, 4 Gb</li>
                                                        <li>OS: Android OS</li> -->
                                                        <li>
                                                            {{product.description}}
                                                        </li>
                                                    </ul>
                                                </div>
                                                <!-- Product Details -->
                                            </div>
                                            <!-- Product Addon -->
                                        </div>
                                        <hr class="d-sm-none">
                                    </div>
                                {% endfor %}

                                   
                                    

                                    <hr class="d-none d-sm-block mb-6">
                                    
                                    <!-- Pagination -->
                                    <div class="d-flex justify-content-between">
                                        <ul class="pagination">
                                            <li class="page-item"><a class="page-link" href="#"><i class="ri-arrow-left-s-line me-1"></i>Prev</a></li>
                                        </ul>
                                        <ul class="pagination">
                                            <li class="page-item d-sm-none"><span class="page-link page-link-static">1 / 5</span></li>
                                            <li class="page-item active d-none d-sm-block" aria-current="page"><span class="page-link">1<span class="visually-hidden">(current)</span></span></li>
                                            <li class="page-item d-none d-sm-block"><a class="page-link" href="#">2</a></li>
                                            <li class="page-item d-none d-sm-block"><a class="page-link" href="#">3</a></li>
                                            <li class="page-item d-none d-sm-block"><a class="page-link" href="#">4</a></li>
                                            <li class="page-item d-none d-sm-block"><a class="page-link" href="#">5</a></li>
                                        </ul>
                                        <ul class="pagination">
                                            <li class="page-item"><a class="page-link" href="#" aria-label="Next">Next<i class="ms-1 ri-arrow-right-s-line"></i></a></li>
                                        </ul>
                                    </div>
                                    <!-- Pagination -->
                                </div>
                                <!-- Product Cards -->                                
                            </div>
                            <!-- Product Grid -->





                            
                            
                            <!-- Product List -->
                            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                                <!-- Product -->
                                
                                {% for i in product %}
                                    <div class="card card-product product-list">
                                        <!-- Badges -->
                                        <div class="product-badges">
                                            <span class="badge bg-danger">{{i.percentage}}%</span>
                                            <!-- <span class="badge bg-success">Top</span> -->
                                        </div>
                                        <!-- Badges -->

                                        <!-- Buttons -->
                                        <div class="product-buttons">
                                            <a class="btn-product btn-wishlist" href="{%  url 'add_wishlist' i.id %}"   title="Add to wishlist"><i class="ri-heart-line"></i></a>
                                          
                                         
                                        </div>
                                        <!-- Buttons -->

                                        <div class="d-sm-flex align-items-center">
                                            <!-- Preview Image -->
                                            <a class="product-list-img d-block flex-shrink-0 mx-auto" href="{%  url 'singleproduct' i.id %}">
                                                <img src="{{i.image.url}}" style="height:100px;" alt="Product">
                                            </a>
                                            <!-- Preview Image -->
                                        
                                            <div class="card-body">
                                                <!-- Product Category -->
                                                <a class="product-category d-block link-dark fs-sm pb-1" href="#">{{i.subcategory.name}}</a>
                                                <!-- Product Category -->
                                        
                                                <!-- Product Title -->
                                                <h3 class="product-title me-sm-10">
                                                    <a href="#">{{i.name}}</a>
                                                </h3>
                                                <!-- Product Title -->
                                        
                                                <!-- Star Rating -->
                                                <span class="star-rating star-8"></span>
                                                <!-- Star Rating -->
                                        
                                                <!-- Product Price -->
                                                <div class="product-price">
                                                    <span class="text-danger fs-5">₹{{i.selling_price}}<del class="text-muted ms-1"><small>₹{{i.original_price}}</small></del>
                                                    </span>
                                                </div>
                                                <!-- Product Price -->
                                        
                                                <!-- Product Meta -->
                                                <span class="product-meta text-muted fs-xs">
                                                    Only <span>{{i.stock}}</span> left in stock
                                                </span>
                                                <!-- Product Meta -->
                                        
                                                <!-- Button -->
                                                <a class="btn btn-primary btn-sm d-flex align-items-center justify-content-center mt-1" href="{%  url 'add_cart' i.id %}"><i class="ri-shopping-cart-2-line me-2"></i>Add to Cart</a>
                                                <!-- Button -->
                                            </div>
                                        </div>                                                                       
                                    </div>
                                    <!-- Product -->
                                {% endfor %}
                                                               
                               

                               

                                <!-- Pagination -->
                                <div class="d-flex justify-content-between mt-6">
                                    <ul class="pagination">
                                        <li class="page-item"><a class="page-link" href="#"><i class="ri-arrow-left-s-line me-1"></i>Prev</a></li>
                                    </ul>
                                    <ul class="pagination">
                                        <li class="page-item d-sm-none"><span class="page-link page-link-static">1 / 5</span></li>
                                        <li class="page-item active d-none d-sm-block" aria-current="page"><span class="page-link">1<span class="visually-hidden">(current)</span></span></li>
                                        <li class="page-item d-none d-sm-block"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item d-none d-sm-block"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item d-none d-sm-block"><a class="page-link" href="#">4</a></li>
                                        <li class="page-item d-none d-sm-block"><a class="page-link" href="#">5</a></li>
                                    </ul>
                                    <ul class="pagination">
                                        <li class="page-item"><a class="page-link" href="#" aria-label="Next">Next<i class="ms-1 ri-arrow-right-s-line"></i></a></li>
                                    </ul>
                                </div>
                                <!-- Pagination -->
                            </div>
                            <!-- Product List -->
                        </div>
                    </aside>
                    <!-- Content -->
                </div>
            </div>
            <!-- Product Category -->
        </main>
        <!-- Page -->

{% endblock %}
