{% extends 'Customer/base.html' %}

{% load static %}
{% block content %}


<script>
    function validateform()
     {
         var a=document.getElementById('email').value.trim();
         if(a=="")
            {
                document.getElementById('eml').style.display="block";
                document.getElementById('eml').innerHTML="**Please Enter Email";
                return false;
            }
            if(a.indexOf('@')<=0){
                document.getElementById('eml').style.display="block";
                document.getElementById('eml').innerHTML="**Invalid Email Address";
                return false;
            }     
            if ((a.charAt(a.length-4)!='.') && (a.charAt(a.length-3)!='.')) {
                document.getElementById('eml').style.display="block";
                document.getElementById('eml').innerHTML="**Invalid Email Address";
                return false;
            }
            else{
                document.getElementById('eml').style.display="none";
                return true;
            }
            
     }
    
     </script>
{% include 'alert.html' %}

            <!-- Content -->
            <div class="container py-lg-10 my-4 my-lg-10" >
                <div class="row justify-content-center" style="margin-top:-40px;">
                    <div class="col-md-10 col-lg-8">
                        <h4 class="border-bottom pb-4 mb-4">Forgot your password?</h4>
                        <span class="d-inline-block text-muted mb-4">Fill out the form below and recover your account </span>
                        <ol class="list-unstyled fs-md">
                            <li class="mb-2"><span class="text-primary me-2">1.</span>Fill your email address below.</li>
                            <li class="mb-2"><span class="text-primary me-2">1.</span>We'll send you a otp to the email.</li>
                            <li class="mb-2"><span class="text-primary me-2">2.</span>Use the otp to set your new password on website.</li>
                        </ol>

                        <div class="card bg-light mt-4">
                            <form class="card-body " action="{% url 'forgotpassword' %}" method="post" id="contactForm"  onsubmit="return validateform();" >
							{% csrf_token %}
                                
                                <div class="mb-4">
                                    <label class="form-label" for="recover-email">Your email address</label>
                                    <input class="form-control" type="email"    id="email" name="email" placeholder="Enter Your Email" onblur="return validateform();" onkeyup="return validateform();">
                                    <span id="eml" style="color: red;"></span>
                                </div>
                            
                                <button class="btn btn-primary" type="submit">Send Otp</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Content -->
        </main>
        <!-- Page -->
        {% endblock %}
