{% extends 'Customer/base.html' %}

{% load static %}
{% block content %}


<script>
                                
    function validateform()
    {
        var b=document.getElementById('pss').value.trim();
        var c=document.getElementById('cpss').value.trim();

        var passpatern=/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}/;			
        if(b=="")
        {
            document.getElementById('ps').style.display="block";
            document.getElementById('ps').innerHTML="**please enter new Password";
            return false;
        }

        if (!b.match(passpatern))
        {
            document.getElementById('ps').style.display="block";
            document.getElementById('ps').innerHTML="*Follow password format";
            return false;
        }
        else{
                document.getElementById('ps').style.display="none";
            }

            if(c=="")
        {
            document.getElementById('cps').style.display="block";
            document.getElementById('cps').innerHTML="**please enter Confirm Password";
            return false;
        }
        else{
                document.getElementById('cps').style.display="none";
                
            }
            if(b!=c)
            {
                document.getElementById('cps').style.display="block";
                document.getElementById('cps').innerHTML="**Password doesn't match";
                return false;
            }
            else{
                    document.getElementById('cps').style.display="none";
                    return true;
                }

        }

    </script>

{% include 'alert.html' %}


            <!-- Content -->
            <div class="container py-lg-10 my-4 my-lg-10" >
                <div class="row justify-content-center" style="margin-top:-40px;">
                    <div class="col-md-10 col-lg-8">
                        <h4 class="border-bottom pb-4 mb-4">Set new password</h4>
                        <span class="d-inline-block text-muted mb-4">Password format</span>
                        <ol class="list-unstyled fs-md">
                            <li class="mb-2"><span class="text-primary me-2">1.</span>Minimum length 8</li>
                            <li class="mb-2"><span class="text-primary me-2">2.</span>Use atleast one uppercase & lowercae letter</li>
                            <li class="mb-2"><span class="text-primary me-2">2.</span>Use atleast one number</li>
                        </ol>

                        <div class="card bg-light mt-4">
                            <form class="card-body " action="{% url 'new_password' %}" method="post" id="contactForm" novalidate="novalidate" onsubmit="return validateform();" >
							{% csrf_token %}
                                
                                <div class="mb-4">
                                    <label class="form-label" for="recover-email">Your email address</label>
                                    <input class="form-control" type="email"    name="email" value="{{session}}" readonly>
                                </div>
                                <div class="mb-4">
                                    <label class="form-label" for="recover-email">Enter new password</label>
                                    <input class="form-control" type="password"   id="pss" name="pswd" onblur="return validateform()" onKeyUp="return validateform()">
                                    <span id="ps" style="color: red;"></span>
                                </div>
                                <div class="mb-4">
                                    <label class="form-label" for="recover-email">Confirm password</label>
                                    <input class="form-control" type="password"  id="cpss" name="cpswd" onblur="return validateform()" onKeyUp="return validateform()">
                                    <span id="cps" style="color: red;"></span>
                                </div>
                                <button class="btn btn-primary" type="submit">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Content -->
        </main>
        <!-- Page -->
        {% endblock %}
