{% extends 'Customer/base.html' %}

{% load static %}
{% block content %}



  <script>
         function validateform()
          {
              var a=document.getElementById('email').value.trim();
              var b=document.getElementById('pass').value.trim();
              var c=document.getElementById('cpass').value.trim();
              var d=document.getElementById('nam').value.trim();
              var l=document.getElementById('lnam').value.trim();
              var i=document.getElementById('phone').value.trim();
              var passpatern=/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}/;
              var expr = /^[6-9]\d{9}$/;

              if(d=="")
              {
                  document.getElementById('nm').style.display="block";
                  document.getElementById('nm').innerHTML="**Please Enter First Name";
                  return false;
              }
              if (/[^a-zA-Z^\s]/.test(d))
                  {
                      document.getElementById('nm').style.display="block";
                      document.getElementById('nm').innerHTML="**Only Alphabets Allowed";
                      return false;
                  }
                  else{
                      document.getElementById('nm').style.display="none";
                  }
                  if(l=="")
              {
                  document.getElementById('lnm').style.display="block";
                  document.getElementById('lnm').innerHTML="**Please Enter Last Name";
                  return false;
              }
              if (/[^a-zA-Z^\s]/.test(l))
                  {
                      document.getElementById('lnm').style.display="block";
                      document.getElementById('lnm').innerHTML="**Only Alphabets Allowed";
                      return false;
                  }
                  else{
                      document.getElementById('lnm').style.display="none";
                  }
              if(a=="")
              { 
                  document.getElementById('eml').style.display="block";
                  document.getElementById('eml').innerHTML="**Please Enter Email";
                  return false;
              }  
              if(a.indexOf('@')<=0){
                  document.getElementById('eml').style.display="block";
                  document.getElementById('eml').innerHTML="**Invalid  Email Address";
                  return false;
              }     
              if ((a.charAt(a.length-4)!='.') && (a.charAt(a.length-3)!='.')) {
                  document.getElementById('eml').style.display="block";
                  document.getElementById('eml').innerHTML="**Invalid  Email Address";
                  return false;
              }   
              else{
                  document.getElementById('eml').style.display="none";
              }
              if(i=="")
              {
                  document.getElementById('ph').style.display = "block";

                  document.getElementById('ph').innerHTML="**PleaseEnter  phone number";
                  return false;
              }
                     if(i!="" && expr.test(i)==false){
                         document.getElementById('ph').style.display= "block";
                         document.getElementById('ph').innerHTML ="Invalid Phone number";
                         return false;
                                 }
                                 else{
                         document.getElementById('ph').style.display = "none";
                        
                     }
              if(b=="")
              {
                  document.getElementById('pss').innerHTML="**please enter Password";
                  return false;
              }
              if (!b.match(passpatern))
                  {
                      
                      document.getElementById('pss').innerHTML="** Please follow password format";
                      return false;
                  }
              
              if(c=="")
              {
                  document.getElementById('cpss').style.display="block";
                  document.getElementById('cpss').innerHTML="**please enter Confirm Password";
                  return false;
              }
              if(b!=c)
              {
                  document.getElementById('cpss').style.display="block";
                  document.getElementById('cpss').innerHTML="**Password doesn't match";
                  return false;
              }
              else{
                      document.getElementById('cpss').style.display="none";
                      return true;
                  }
          }

          function onclear(){
              document.getElementById('pss').innerHTML="";
          }
  </script>
<div class="container py-10 my-10">
    <div class="row g-10 g-lg-5">
        
<!-- For Alert Message -->
{% include 'Customer/alert.html' %}


<!-- End Alert -->
        <div class="col-12 col-lg-6">
            <div class="card border-0 shadow">
                
                <div class="card-body" style="height: 600px;">
                    <h4 class="border-bottom pb-4 mb-4">Sign up</h4>
                    
                    <form  action="{% url 'register' %}" method="post"  novalidate="novalidate" onsubmit="return validateform();">
						{% csrf_token %}
                        <div class="input-group mb-4">
                            <input  class="form-control" type="text" id="nam" name="nme" placeholder="First Name" autocomplete="off" onblur="return validateform()" onKeyUp="return validateform()">
                            <br>
                            <br>
                            <span id="nm" style="color: red;"></span>

                        </div>
                        <div class="input-group mb-4">
                            <input class="form-control" type="text" id="lnam" name="lnme" placeholder=" Last Name" autocomplete="off" onblur="return validateform()" onKeyUp="return validateform()">
                            <br>
                            <br>
                            <span id="lnm" style="color: red;"></span>
                        </div>

                        <div class="input-group mb-4">
                            <input class="form-control" type="email"  id="email" name="email" placeholder="Email" autocomplete="off"  onblur="return validateform()" onKeyUp="return validateform()">
                            <br>
                            <br>
                            <span id="eml" style="color: red;"></span>
                        </div>

                        <div class="input-group mb-4">
                            <input class="form-control" type="tel"  id="phone" name="phn" placeholder="phone" minlength="10" maxlength="10" autocomplete="off" onblur="return validateform()" onKeyUp="return validateform()">
                            <br>
                            <br>
                            <span id="ph" style="color: red;"></span>
                        </div>

                        <div class="input-group mb-4">
                            <input class="form-control" type="password" id="pass" name="pwd"  placeholder="Password" autocomplete="off" onclick="return onclear()">
                            <br>
                            <br>
                            <span id="pss" style="color: red;"></span>
                            
                        </div>





                        <div class="input-group mb-4">
                            <input type="password" class="form-control" id="cpass" name="cpwd" placeholder="Confirm Password" autocomplete="off" onblur="return validateform()" onKeyUp="return validateform()">
                            <br>
                            <br>
                            <span id="cpss" style="color: red;"></span>
                        </div>



                        <div class="d-flex flex-wrap align-items-center justify-content-between">
                            <div class="form-check">
                                <a class="nav-link-inline fs-sm" href="{% url 'login' %}">Already have an account ?</a>
                            </div>
                        </div>
                        <hr class="my-4">
                        <div class="text-end">
                            <button  class="btn btn-primary" type="submit">Sign In</button>
                        </div>
                    </form>
                </div>


                
            </div>
        </div>



        <div class="col-12 col-lg-6 pt-0 pt-lg-4">
                
                     <p>To keep your account secure we recommend to avoid creating passwords that use:</p>   
                     <ol>
                        <li>Dictionary words in any language.</li>
                        <li>Words spelled backwards, common misspellings, and abbreviations.</li>
                        <li>Sequences of repeated charactres. Examples:12345678, 22222,abcdefg, or adjacent letters on your keyboard(qwerty).</li>
                        <li>Personal information. Your name, birthday, driver's license, passportnumber, or similar information.</li>
                     </ol>
                   <style>
                     /* The message box is shown when the user clicks on the password field */
                        #message {
                        display:none;
                        background:#fff;
                        color: #000;
                        position: relative;
                        padding: 20px;
                        margin-top: 10px;
                        }
                        #message p {
                        padding: 1px 35px;
                        font-size: 16px;
                        }
                        /* Add a green text color and a checkmark when the requirements are right */
                        .valid {
                        color: green;
                        }

                        .valid:before {
                        position: relative;
                        left: -25px;
                        content: "✔";
                        }

                        /* Add a red text color and an "x" when the requirements are wrong */
                        .invalid {
                        color: red;
                        }

                        .invalid:before {
                        position: relative;
                        left: -25px;
                        content: "✖";
                        }
                    </style>

                   
                     <div id="message">
                        <h4 style="color:rgb(249, 164, 61) ;">Password must contain the following:</h4>
                        <p id="letter" class="invalid">A lowercase letter</p>
                        <p id="capital" class="invalid">A capital (uppercase) letter</p>
                        <p id="number" class="invalid">A number</p>
                        <p id="length" class="invalid">Minimum 8 characters</b></p>
         
                     </div>

            </div>


    </div>
</div>
<script>
    var myInput = document.getElementById("pass");
    var letter = document.getElementById("letter");
    var capital = document.getElementById("capital");
    var number = document.getElementById("number");
    var length = document.getElementById("length");
    myInput.onfocus = function() {
    document.getElementById("message").style.display = "block";
    }
    myInput.onblur = function() {
    document.getElementById("message").style.display = "none";
    }
    // When the user starts to type something inside the password field
    myInput.onkeyup = function() {
    // Validate lowercase letters
    var lowerCaseLetters = /[a-z]/g;
    if(myInput.value.match(lowerCaseLetters)) {  
        letter.classList.remove("invalid");
        letter.classList.add("valid");
    } else {
        letter.classList.remove("valid");
        letter.classList.add("invalid");
    }
    
    // Validate capital letters
    var upperCaseLetters = /[A-Z]/g;
    if(myInput.value.match(upperCaseLetters)) {  
        capital.classList.remove("invalid");
        capital.classList.add("valid");
    } else {
        capital.classList.remove("valid");
        capital.classList.add("invalid");
    }

    // Validate numbers
    var numbers = /[0-9]/g;
    if(myInput.value.match(numbers)) {  
        number.classList.remove("invalid");
        number.classList.add("valid");
    } else {
        number.classList.remove("valid");
        number.classList.add("invalid");
    }
    
    // Validate length
    if(myInput.value.length >= 8) {
        length.classList.remove("invalid");
        length.classList.add("valid");
    } else {
        length.classList.remove("valid");
        length.classList.add("invalid");
    }
    }
</script>


{% endblock %}
