{% load static %}
<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
<!-- Style from User Profile -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
	<link rel="shortcut icon" href="{% static 'assets/img/favicon.png' %}">
	<link rel="stylesheet" href="{% static 'https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;1,400&amp;display=swap' %}">
	<link rel="stylesheet" href="{% static 'assets/plugins/bootstrap/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/fontawesome.min.css' %}">
	<link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/all.min.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
<!-- End Of User Profile Style -->

	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="{% static 'img/fav.png' %}">
	<!-- Author Meta -->
	<meta name="author" content="CodePixar">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>Smart Store</title>
	<!--CSS ============================================= -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
	<link rel="stylesheet" href="{% static 'css/linearicons.css' %}">
	<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
	<link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
	<link rel="stylesheet" href="{% static 'css/nouislider.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/ion.rangeSlider.css' %}" />
	<link rel="stylesheet" href="{% static 'css/ion.rangeSlider.skinFlat.css' %}" />
	<link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
	<!--    payment script-->
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

	
</head>

<body>

	<!-- Start Header Area -->
	<header class="header_area sticky-header">
		<div class="main_menu">
			<nav class="navbar navbar-expand-lg navbar-light main_box">
				<div class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
					<a class="navbar-brand logo_h" href="{%  url 'home' %}"><h1 style="color:#F39C12;display:inline">Smart</h1><h1 style="display:inline"> Store</h1></a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
					 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
						<ul class="nav navbar-nav menu_nav ml-auto">
							{% if email in email %} 
							<li class="nav-item active"><a class="nav-link" href="{%  url 'home' %}">Home</a></li>
							{% endif %}
							{% for category in category %}
							<li class="nav-item submenu dropdown">
								<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
								 aria-expanded="false">{{ category.name }}</a>
							<ul class="dropdown-menu">
								{% for subcategory in subcategory %}
                                {% if category.id == subcategory.category_id %}
								<li class="nav-item"><a class="nav-link" href="{% url 'category_product' subcategory.id  %}">{{ subcategory.name }}</a>
						          {% endif %}
									{% endfor %}
							</li>
							</ul>
							</li>
							{% endfor %}
							<li class="nav-item submenu dropdown">
								<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
								 aria-expanded="false"> <i style="font-size: 23px;font-weight: bold;" class="bi bi-person"></i></a>
								<ul class="dropdown-menu">

									<li class="nav-item"><a class="nav-link" href="{% url 'profile' %}">Account</a></li>
									<li class="nav-item"><a class="nav-link" href="{% url 'payment_success' %}">My Order</a></li>
									<li class="nav-item"><a class="nav-link" href="{%  url 'view_wishlist'%}">wishlist</a></li>
									<li class="nav-item"><a class="nav-link" href="{%  url 'View_Service'%}">Service</a></li>
									{% if email in email %} 
							        <li class="nav-item"><a class="nav-link" href="{%  url 'logout' %}">Log out</a></li>
									{% else %}
									<li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Sign in/Register</a></li>
								    {% endif %}
								</ul>
							</li>

						</ul>
						<ul class="nav navbar-nav navbar-right">
							<li class="nav-item"><a href="{% url 'view_cart' %}" class="cart"><span style="font-size: 22px;font-weight: bold;" class="bi bi-cart"></span></a></li>
							{% if email in email %} 
							<div style="background-color:rgb(255, 123, 0);width:25px;height:25px;border-radius:20px;text-align:center;margin-top:10px;">
								<span style="color:#fff;font-weight:bold;font-size:13px;">{{cart_count}}</span>
							</div>
							{% endif %}

							<li class="nav-item">
								<button class="search"><span style="font-size: 20px;font-weight: bold;" class="lnr lnr-magnifier" id="search"></span></button>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</div>
		<div class="search_input" id="search_input_box">
			<div class="container">
				<form class="d-flex justify-content-between" action="{% url 'searchbar' %}">
					<input type="text" name="query" class="form-control" id="search_input" placeholder="Search Here">
					<button type="submit" class="btn"></button>
					<span class="lnr lnr-cross" id="close_search" title="Close Search"></span>
				</form>
			</div>
		</div>
	</header>
	<!-- End Header Area -->

  {% block content %}
  
  {% endblock %}

<!-- start footer Area -->
	<footer class="footer-area section_gap">
		<div class="container">
<!--			<div class="row">-->
<!--				<div class="col-lg-3  col-md-6 col-sm-6">-->
<!--					<div class="single-footer-widget">-->
<!--						<h6>About Us</h6>-->
<!--						<p>-->
<!--							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore dolore-->
<!--							magna aliqua.-->
<!--						</p>-->
<!--					</div>-->
<!--				</div>-->
<!--				<div class="col-lg-4  col-md-6 col-sm-6">-->
<!--					<div class="single-footer-widget">-->
<!--						<h6>Newsletter</h6>-->
<!--						<p>Stay update with our latest</p>-->
<!--						<div class="" id="mc_embed_signup">-->

<!--							<form target="_blank" novalidate="true" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"-->
<!--							 method="get" class="form-inline">-->

<!--								<div class="d-flex flex-row">-->

<!--									<input class="form-control" name="EMAIL" placeholder="Enter Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Email '"-->
<!--									 required="" type="email">-->


<!--									<button class="click-btn btn btn-default"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>-->
<!--									<div style="position: absolute; left: -5000px;">-->
<!--										<input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">-->
<!--									</div>-->

<!--									&lt;!&ndash; <div class="col-lg-4 col-md-4">-->
<!--												<button class="bb-btn btn"><span class="lnr lnr-arrow-right"></span></button>-->
<!--											</div>  &ndash;&gt;-->
<!--								</div>-->
<!--								<div class="info"></div>-->
<!--							</form>-->
<!--						</div>-->
<!--					</div>-->
<!--				</div>-->
<!--				<div class="col-lg-3  col-md-6 col-sm-6">-->
<!--					<div class="single-footer-widget mail-chimp">-->
<!--						<h6 class="mb-20">Instragram Feed</h6>-->
<!--						<ul class="instafeed d-flex flex-wrap">-->
<!--							<li><img src="{% static 'img/i1.jpg' %}" alt=""></li>-->
<!--							<li><img src="{% static 'img/i2.jpg' %}" alt=""></li>-->
<!--							<li><img src="{% static 'img/i3.jpg' %}" alt=""></li>-->
<!--							<li><img src="{% static 'img/i4.jpg' %}" alt=""></li>-->
<!--							<li><img src="{% static 'img/i5.jpg' %}" alt=""></li>-->
<!--							<li><img src="{% static 'img/i6.jpg' %}" alt=""></li>-->
<!--							<li><img src="{% static 'img/i7.jpg' %}" alt=""></li>-->
<!--							<li><img src="{% static 'img/i8.jpg' %}" alt=""></li>-->
<!--						</ul>-->
<!--					</div>-->
<!--				</div>-->
<!--				<div class="col-lg-2 col-md-6 col-sm-6">-->
<!--					<div class="single-footer-widget">-->
<!--						<h6>Follow Us</h6>-->
<!--						<p>Let us be social</p>-->
<!--						<div class="footer-social d-flex align-items-center">-->
<!--							<a href="#"><i class="fa fa-facebook"></i></a>-->
<!--							<a href="#"><i class="fa fa-twitter"></i></a>-->
<!--							<a href="#"><i class="fa fa-dribbble"></i></a>-->
<!--							<a href="#"><i class="fa fa-behance"></i></a>-->
<!--						</div>-->
<!--					</div>-->
<!--				</div>-->
<!--			</div>-->
<!--			<div class="footer-bottom d-flex justify-content-center align-items-center flex-wrap">-->
<!--				<p class="footer-text m-0">&lt;!&ndash; Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. &ndash;&gt;-->
<!--Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>-->
<!--&lt;!&ndash; Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. &ndash;&gt;-->
<!--</p>-->
<!--			</div>-->
		</div>
	</footer>
	<!-- End footer Area -->

	<script src="{% static 'js/vendor/jquery-2.2.4.min.js' %}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
	 crossorigin="anonymous"></script>
	<script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
	<script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
	<script src="{% static 'js/jquery.sticky.js' %}"></script>
	<script src="{% static 'js/nouislider.min.js' %}"></script>
	<script src="{% static 'js/countdown.js' %}"></script>
	<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
	<script src="{% static 'js/owl.carousel.min.js' %}"></script>
	<!--gmaps Js-->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
	<script src="{% static 'js/gmaps.min.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>



	<!-- Script For User Profile Page -->
	<script data-cfasync="false" src="../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="assets/js/jquery-3.6.0.min.js"></script>
	<script src="{% static 'assets/js/popper.min.js' %}"></script>
	<script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'assets/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
	<script src="{% static 'assets/js/script.js' %}"></script>


</body>

</html>
