
{% extends 'Customer_Service/Base.html' %}
{% load static %}
{% block content %}
	<head>
		<meta charset="utf-8" />
		<title>Smart Store</title>

		<!-- Site favicon -->
		<link
			rel="apple-touch-icon"
			sizes="180x180"
			href="{% static 'vendors/images/apple-touch-icon.png' %}"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="32x32"
			href="{% static 'vendors/images/favicon-32x32.png' %}"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="16x16"
			href="{% static 'vendors/images/favicon-16x16.png' %}"
		/>

		<!-- Mobile Specific Metas -->
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, maximum-scale=1"
		/>

		<!-- Google Font -->
		<link
			href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap"
			rel="stylesheet"
		/>
		<!-- CSS -->
		<link rel="stylesheet" type="text/css" href="{% static 'vendors/styles/core.css' %}" />
		<link
			rel="stylesheet"
			type="text/css"
			href="{% static 'vendors/styles/icon-font.min.css' %}"
		/>
		<link
			rel="stylesheet"
			type="text/css"
			href="{% static 'src/plugins/datatables/css/dataTables.bootstrap4.min.css' %}"
		/>
		<link
			rel="stylesheet"
			type="text/css"
			href="{% static 'src/plugins/datatables/css/responsive.bootstrap4.min.css' %}"
		/>
		<link rel="stylesheet" type="text/css" href="{% static 'vendors/styles/style.css' %}" />

		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script
			async
			src="https://www.googletagmanager.com/gtag/js?id=G-GBZ3SGGX85"
		></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag() {
				dataLayer.push(arguments);
			}
			gtag("js", new Date());

			gtag("config", "G-GBZ3SGGX85");
		</script>
		<!-- Google Tag Manager -->
		<script>
			(function (w, d, s, l, i) {
				w[l] = w[l] || [];
				w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
				var f = d.getElementsByTagName(s)[0],
					j = d.createElement(s),
					dl = l != "dataLayer" ? "&l=" + l : "";
				j.async = true;
				j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
				f.parentNode.insertBefore(j, f);
			})(window, document, "script", "dataLayer", "GTM-NXZMQSS");
		</script>
		<!-- End Google Tag Manager -->
	</head>






<!-- welcome modal end -->
		<!-- js -->
		<script src="{% static 'vendors/scripts/core.js' %}"></script>
		<script src="{% static 'vendors/scripts/script.min.js' %}"></script>
		<script src="{% static 'vendors/scripts/process.js' %}"></script>
		<script src="{% static 'vendors/scripts/layout-settings.js' %}"></script>
		<script src="{% static 'src/plugins/apexcharts/apexcharts.min.js' %}"></script>
		<script src="{% static 'src/plugins/datatables/js/jquery.dataTables.min.js' %}"></script>
		<script src="{% static 'src/plugins/datatables/js/dataTables.bootstrap4.min.js' %}"></script>
		<script src="{% static 'src/plugins/datatables/js/dataTables.responsive.min.js' %}"></script>
		<script src="{% static 'src/plugins/datatables/js/responsive.bootstrap4.min.js' %}"></script>
		<script src="{% static 'vendors/scripts/dashboard3.js' %}"></script>
		<script src="src/plugins/cropperjs/dist/cropper.js"></script>
		<!-- Google Tag Manager (noscript) -->








        <section class="banner-area organic-breadcrumb">
            <div class="container">
                <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                    <div class="col-first">
                        <h1>Smart Store</h1>
                        <nav class="d-flex align-items-center">
        <!--						<a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>-->
                            <a href="category.html"></a>
                        </nav>
                    </div>
                </div>
            </div>
        </section>
        <!-- End banner Area -->



		<div class="mobile-menu-overlay"></div>

		<div class="main-container" style="margin-left:-260px;margin-top:-50px;">
			
			<div class="xs-pd-20-10 pd-ltr-20">
				
				

				<div class="row pb-10" >
					<div class="col-xl-3 col-lg-3 col-md-6 mb-20">
						<div class="card-box height-100-p widget-style3">
							<div class="d-flex flex-wrap" >
								<div class="widget-data" >
									<div class="weight-700 font-24 text-dark">New Service</div>
									<div class="font-14 text-secondary weight-500" style="height: 60px;">
						            _______________________________________
									</div>
								</div>
								<div class="widget-icon" onclick="return hideme()">
									<div class="icon" data-color="#00eccf">
										<i class="icon-copy  ti-arrow-right"></i>
										<script>
											function hideme(){
												document.getElementById('adddiv').style.display="none";
												document.getElementById('request').style.display="none";
												document.getElementById('formdiv').style.display="block";
						
											} 
										</script>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-lg-3 col-md-6 mb-20">
						<div class="card-box height-100-p widget-style3">
							<div class="d-flex flex-wrap">
								<div class="widget-data">
									<div class="weight-700 font-24 text-dark">View Request's</div>
									<div class="font-14 text-secondary weight-500" style="height: 60px;"> 
										______________________________________
									</div>
								</div>
								<div class="widget-icon" onclick="return showrequest()" >
									<div class="icon" data-color="#00eccf">
									
										<span class="icon-copy ti-arrow-right"></span>

										<script>
											function showrequest(){
												document.getElementById('adddiv').style.display="none";
												document.getElementById('formdiv').style.display="none";
												document.getElementById('request').style.display="block";
						
											} 
										</script>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-lg-3 col-md-6 mb-20">
						<div class="card-box height-100-p widget-style3">
							<div class="d-flex flex-wrap">
								<div class="widget-data">
									<div class="weight-700 font-24 text-dark">Service History</div>
									<div class="font-14 text-secondary weight-500" style="height: 60px;">
										______________________________________
									</div>
								</div>
								<div class="widget-icon">
									<div class="icon">
										<i
											class="icon-copy ti-arrow-right"
											aria-hidden="true"
										></i>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- <div class="col-xl-3 col-lg-3 col-md-6 mb-20">
						<div class="card-box height-100-p widget-style3">
							<div class="d-flex flex-wrap">
								<div class="widget-data">
									<div class="weight-700 font-24 text-dark">Chat with Servicer</div>
									<div class="font-14 text-secondary weight-500">
										______________________________________
									</div>
								</div>
								<div class="widget-icon">
									<div class="icon" data-color="#09cc06">
										<i class="icon-copy fa fa-money" aria-hidden="true"></i>
									</div>
								</div>
							</div>
						</div>
					</div> -->
				</div>

				

				
				
				
				<div class="row" id="adddiv">
					<div class="col-md-4 mb-20" style="display:block;">
						<div  class="card-box d-block mx-auto pd-20 text-secondary" >
							<div class="img pb-30">
								<img src="{% static 'vendors/images/aaaa.png' %}" style="height:420px;width:500px;" alt="" />
							</div>
							<div class="content">
								<h3 class="h4">Services</h3>
								<p class="max-width-200">
									<!-- We provide superior health care in a compassionate maner -->
								</p>
							</div>
						</div>
					</div>
					<div class="col-md-4 mb-20">
						<div class="card-box d-block mx-auto pd-20 text-secondary">
							<div class="img pb-30">
								<img src="{% static 'vendors/images/bbbb.jpg' %}" style="height: 420px;" alt="" />
							</div>
							<div class="content" >
								<h3 class="h4">Service</h3>
								<p class="max-width-200">
									<!-- Look for prescription and over-the-counter drug information. -->
								</p>
							</div>
						</div>
					</div>
					<div class="col-md-4 mb-20">
						<div class="card-box d-block mx-auto pd-20 text-secondary">
							<div class="img pb-30">
								<img src="{% static 'vendors/images/paper-map-cuate.svg' %}" style="height: 420px;" alt="" />
							</div>
							<div class="content">
								<h3 class="h4">Locations</h3>
								<p class="max-width-200">
								</p>
							</div>
						</div>
					</div>
				</div>


				<!--********************************* New Service Request Form ******************************** -->
                     <div class="pd-20 card-box mb-30" style="display:none;" id="formdiv">
                    <div class="wizard-content">
                        <form action="{% url 'View_Service' %}" class="tab-wizard wizard-circle wizard" enctype="multipart/form-data" method="post">
						{% csrf_token %}    
							<h5>Product Info</h5>
                            <section style="margin-top:20px;">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Category</label>
                                            <select class="form-control" name="category">
                                                <option>Select Category</option>
												{% for i in category %}
                                                <option>{{i.name}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Brand Name :</label>
                                            <input type="text" class="form-control" name="brand" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Model:</label>
                                            <input type="text" class="form-control" name="model"/>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Model Number :</label>
                                            <input type="text" class="form-control" name="model_no"/>
                                        </div>
                                    </div>
                                </div>
                              
                            </section>

                            <section>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Smart Store Purchase Bill</label>
                                            <input type="file" class="form-control" name="bill"/>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Waranty Expired</label>
                                        <div class="d-flex">
                                            <div class="custom-control custom-radio mb-5 mr-20">
                                                <input type="radio" id="customRadio4" name="waranty" value="Yes" class="custom-control-input" />
                                                <label class="custom-control-label weight-400" for="customRadio4" >Yes</label>
                                            </div>
                                            <div class="custom-control custom-radio mb-5">
                                                <input type="radio" id="customRadio5" name="waranty" value="No" class="custom-control-input"/>
                                                <label class="custom-control-label weight-400" for="customRadio5">No</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </section>
                            <!-- Step 2 -->
                            <h5 >Issues</h5>
                            <section style="margin-top:10px;">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Issues Of The Product</label>
                                            <textarea class="form-control" name="issue"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <div class="form-group mb-0" style="margin-left: 700px;">
                                <input
                                    type="submit"
                                    class="btn btn-primary"
                                    value="Submit"
                                />
                            </div>
                        </form>
                    </div>
                </div>
		<!-- ****************************** End of new service request form ******************************  -->





		<!-- ************************ View Request Table ***************************  -->
		<div class="pd-20 card-box mb-30" id="request" style="display: none;">
			<div class="clearfix mb-20">
			</div>
			<div class="table-responsive">
				<table class="table">
					<thead>
						<tr>
							<th scope="col">Sl No</th>
							<th scope="col">Category</th>
							<th scope="col">Brand</th>
							<th scope="col">Model</th>
							<th scope="col">Requested Date</th>
							<th  colspan="2"></th>
							<!-- <th scope="col">Action</th> -->
						</tr>
					</thead>
					<tbody>
						{% for i in requested_product %}
						<tr class="table-danger">
							<td scope="row">{{forloop.counter}}</td>
							<td>{{i.category}}</td>
							<td>{{i.brand}}</td>
							<td>{{i.model}}</td>
							<td>{{i.date}}</td>
							<td>
								<a><button type="button" class="btn btn-primary">Primary</button></a> 
								<a><button type="button" class="btn btn-danger">Remove</button></a> </td>
							</tr>
						{% endfor %}
						
					</tbody>
				</table>
			</div>
			<div class="collapse collapse-box" id="contextual-table">
				<div class="code-box">
					<div class="clearfix">
						<a
							href="javascript:;"
							class="btn btn-primary btn-sm code-copy pull-left"
							data-clipboard-target="#contextual-table-code"
							><i class="fa fa-clipboard"></i> Copy Code</a
						>
						<a
							href="#contextual-table"
							class="btn btn-primary btn-sm pull-right"
							rel="content-y"
							data-toggle="collapse"
							role="button"
							><i class="fa fa-eye-slash"></i> Hide Code</a
						>
					</div>
					<pre><code class="xml copy-pre" id="contextual-table-code">
					<div class="table-responsive">
					<table class="table table-striped">
					<tbody>
					<tr class="table-active"><td></td></tr>
					<tr class="table-primary"><td></td></tr>
					<tr class="table-secondary"><td></td></tr>
					<tr class="table-success"><td></td></tr>
					<tr class="table-danger"><td></td></tr>
					<tr class="table-warning"><td></td></tr>
					<tr class="table-info"><td></td></tr>
					<tr class="table-light"><td></td></tr>
					<tr class="table-dark"><td></td></tr>
					</tbody>
					</table>
					</div>
				</code></pre>
				</div>
			</div>
		</div>

		<!-- ********************* End of view Service ******************* -->




		<!-- *********************** Chat with servicer Area ************************* -->
		

		

		<!-- ********************* End of servicer Chat ******************************* -->



				<div class="footer-wrap pd-20 mb-20 card-box" style="color:rgb(255, 111, 0);">
					Smart Store
				</div>
			</div>
		</div>

















        {% endblock %}
		
