{% extends 'base.html' %}

{% load static %}
{% block content %}



<body>
    <!-- start banner Area -->
<section class="banner-area organic-breadcrumb">
	<div class="container">
		<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
			<div class="col-first">
				<h1>Smart Store</h1>
				<nav class="d-flex align-items-center">
					<a href="category.html"></a>
				</nav>
			</div>
		</div>
	</div>
</section>
<!-- End banner Area -->

<!-- For Alert Message -->
{% include 'alert.html' %}

<script>
	setTimeout(function(){
	  if ($('#msg').length > 0){
		$('#msg').remove();
		}
	  },4000)

</script>
<!-- End Alert -->


    <div class="page-wrapper">
        
            <div class="page-content" style="margin-left:-24%;">
                <div class="container">
        			<div class="toolbox">
        				

                        <div class="toolbox-center">
                            <div class="toolbox-info">
                                Showing <span>12 of 56</span> Products
                            </div><!-- End .toolbox-info -->
                        </div><!-- End .toolbox-center -->

        				<div class="toolbox-right">
        					<div class="toolbox-sort">
        						<label for="sortby">Sort by:</label>
        						<div class="select-custom">
									<select name="sortby" id="sortby" class="form-control">
										<option value="popularity" selected="selected">Most Popular</option>
										<option value="rating">Most Rated</option>
										<option value="date">Date</option>
									</select>
								</div>
        					</div><!-- End .toolbox-sort -->
        				</div><!-- End .toolbox-right -->
        			</div><!-- End .toolbox -->

                    <div class="products">
                        <div class="row">
                            

                           
                            {% for i in product %}
                            <div class="col-6 col-md-4 col-lg-4 col-xl-3">
                                <div class="product">
                                    <figure class="product-media">
                                        <span class="product-label label-sale">{{i.percentage}}% off</span>
                                        <a href="{%  url 'singleproduct' i.id %}">
                                            <img src="{{i.image.url}}" style="height: 280px;;" alt="Product image" class="product-image">
                                        </a>
                                        <div class="product-action-vertical">
                                            <a href="{%  url 'add_wishlist' i.id %}" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                        </div><!-- End .product-action -->
                                        <div class="product-action action-icon-top">
                                            <a style="color:#000;font-weight:bold;" href="{%  url 'add_cart' i.id %}" class="btn-product btn-cart"><span>add to cart</span></a>
                                        </div><!-- End .product-action -->
                                    </figure><!-- End .product-media -->
                                    <div class="product-body">
                                        <div class="product-cat">
                                            <a href="#">{{i.category}}</a>
                                        </div><!-- End .product-cat -->
                                        <h3 class="product-title"><a href="product.html">{{i.name}}</a></h3><!-- End .product-title -->
                                        <div class="product-price">
                                            <span class="new-price">₹{{i.selling_price}}</span>
                                            <span class="old-price">₹{{i.original_price}}</span>
                                        </div><!-- End .product-price -->
                                        <div class="ratings-container">
                                            <div class="ratings">
                                                <div class="ratings-val" style="width: 40%;"></div><!-- End .ratings-val -->
                                            </div><!-- End .ratings -->
                                            <span class="ratings-text">( 4 Reviews )</span>
                                        </div><!-- End .rating-container -->
                                     
                                    </div><!-- End .product-body -->
                                </div><!-- End .product -->
                            </div><!-- End .col-sm-6 col-lg-4 col-xl-3 -->
                            {% endfor %}
                        </div><!-- End .row -->
                        <div class="load-more-container text-center">
                            <a href="#" class="btn btn-outline-darker btn-load-more">More Products <i class="icon-refresh"></i></a>
                        </div><!-- End .load-more-container -->
                    </div><!-- End .products -->
                </div><!-- End .container -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->
    </div><!-- End .page-wrapper -->
    
    

    <!-- Plugins JS File -->
    <script src="{% static 'test/assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'test/assets/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'test/assets/js/jquery.hoverIntent.min.js' %}"></script>
    <script src="{% static 'test/assets/js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'test/assets/js/superfish.min.js' %}"></script>
    <script src="{% static 'test/assets/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'test/assets/js/wNumb.js' %}"></script>
    <script src="{% static 'test/assets/js/bootstrap-input-spinner.js' %}"></script>
    <script src="{% static 'test/assets/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'test/assets/js/nouislider.min.js' %}"></script>
    <!-- Main JS File -->
    <script src="{% static 'test/assets/js/main.js' %}"></script>
</body>


{% endblock %}
