{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
	<!-- Start Banner Area -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	 <section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Profile</h1>
					<nav class="d-flex align-items-center">
						<h6 style="color:#fff ;">****************</h6>
					</nav>
				</div>
			</div>
		</div>
	</section>



  </script>
	<!-- End Banner Area -->
	<!--================registration Box Area =================-->
	<script>
		   function validateform()
            {
                var a=document.getElementById('email').value.trim();
                var b=document.getElementById('pass').value.trim();
                var c=document.getElementById('cpass').value.trim();
                var d=document.getElementById('nam').value.trim();
                var e=document.getElementById('addr').value.trim();
                var f=document.getElementById('city').value.trim();
                var g=document.getElementById('dist').value.trim();
                var h=document.getElementById('pcode').value.trim();
                var i=document.getElementById('phone').value.trim();

                var passpatern=/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}/;

				if(a=="")
                {
                    document.getElementById('eml').innerHTML="**Please Enter Email";
                    return false;
                }  
				if(a.indexOf('@')<=0){
                    document.getElementById('eml').innerHTML="**Invalid  Email Address";
                    return false;
                }     
                if ((a.charAt(a.length-4)!='.') && (a.charAt(a.length-3)!='.')) {
                    document.getElementById('eml').innerHTML="**Invalid  Email Address";
                    return false;
                }   
				if(b=="")
                {
                    document.getElementById('pss').innerHTML="**please enter Password";
                    return false;
                }
                if (!b.match(passpatern))
                    {
                        document.getElementById('pss').innerHTML="** Please follow password format";
                        return false;
                    }
                
				if(c=="")
                {
                    document.getElementById('cpss').innerHTML="**please enter Confirm Password";
                    return false;
                }
				if(b!=c)
                {
                    document.getElementById('cpss').innerHTML="**Password doesn't match";
                    return false;
                }
				if(d=="")
                {
                    document.getElementById('nm').innerHTML="**Please Enter Name";
                    return false;
                }
                if (/[^a-zA-Z]/.test(d))
                    {
                        document.getElementById('nm').innerHTML="**Only Alphabets Allowed";
                        return false;
                    }
				if(e=="")
                {
                    document.getElementById('ad').innerHTML="**Please Enter Address";
                    return false;
                }
				if(f=="")
                {
                    document.getElementById('ct').innerHTML="**Please Enter City";
                    return false;
                }
				if(g=="")
                {
                    document.getElementById('dst').innerHTML="**Please Select District";
                    return false;
                }
				if(h=="")
                {
                    document.getElementById('pin').innerHTML="**Please Enter PostalCode";
                    return false;
                }
				if(h.length>6||h.length<6){
                  document.getElementById('pin').innerHTML="**Enter 6 digit valid Code";
                  return false;
                }
                if (!/^[0-9]+$/.test(h))
                    {
                        document.getElementById('pin').innerHTML="**Only Numbers Allowed";
                        return false;
                    }
				if(i=="")
                {
                    document.getElementById('ph').innerHTML="**Please Enter Phone Number";
                    return false;
                }
				if(i.length>10||i.length<10){
                  document.getElementById('ph').innerHTML="**Enter 10 digit valid phone Number";
                  return false;
                }
                if (!/^[0-9]+$/.test(i))
                    {
                        document.getElementById('ph').innerHTML="**Only Numbers Allowed";
                        return false;
                    }
				else
                {
                    return true;
                }
			}
			function onclear(){
                document.getElementById('eml').innerHTML="";
                document.getElementById('pss').innerHTML="";
                document.getElementById('cpss').innerHTML="";
                document.getElementById('nm').innerHTML="";
                document.getElementById('ad').innerHTML="";
                document.getElementById('ct').innerHTML="";
                document.getElementById('dst').innerHTML="";
                document.getElementById('pin').innerHTML="";
                document.getElementById('ph').innerHTML="";				

			}
	</script>

{% include 'alert.html' %}

<script>
    setTimeout(function(){
      if ($('#msg').length > 0){
        $('#msg').remove();
        }
      },4000)

</script>
	<section class="login_box_area section_gap">
		<div class="container">
            <div class="row">
            <!-- View Profile Details -->
                <div class="col-lg-6" >
					<div class="reg_form_outer" >
                        <div style="display:inline-block ;margin-left:50PX;margin-top: -10px;">
                            <h2 style="color:rgb(249, 164, 61);text-decoration: underline;">Profile<span style="color:#000;">-</span><span style="float:right;color:#000;text-decoration: underline;">Info</span></h2>
                            </div>
                            <div style="display:inline-block ;margin-left:65px;margin-top: -10px;">
                            <h2>&nbsp;<span style="float:right;color:rgb(249, 164, 61) ;"></span></h2>
                            </div>
                            {% for profile in profile %}
                            {% if profile.email_id == email %} 
                            <div style="font-size: 25px;margin-left:50px;">
                             <table>
                             <tr><td style="font-weight:bold;color:rgb(249, 189, 9);font-size:20px;">Name:</td><td style="font-size:20px;color: #000;">{{profile.name}} {{profile.lname}}</td></tr>	 
                             <tr><td style="font-weight:bold;color:rgb(249, 189, 9);font-size:20px;">Email:</td><td style="font-size:20px;color: #000;">{{profile.email_id}}</td></tr> 
                             <tr><td style="font-weight:bold;color:rgb(249, 189, 9);font-size:20px;"> Number:</td><td style="font-size:20px;color: #000;"> {{profile.phone_no}}</td></tr>	
                            </table>
                            <button id="button" onclick="passhide(mydivss)" style="font-size:20px;margin-left:-10px;margin-top:10px;border:none;background-color:#fff;color:rgb(255, 136, 0);">Change Password</button>
                            {% endif %}
                            {% endfor %}



                            <script>
                                
                            function validateform()
                            {
                                var a=document.getElementById('oldpss').value.trim();
                                var b=document.getElementById('pss').value.trim();
                                var c=document.getElementById('cpss').value.trim();

                                var passpatern=/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}/;

                                if(a=="")
                                {
                                    document.getElementById('ops').style.display="block";
                                    document.getElementById('ops').innerHTML="**please enter Confirm Password";
                                    return false;
                                }
                                else{
                                        document.getElementById('ops').style.display="none";            
                                    }
                                    
                                if(b=="")
                                {
                                    document.getElementById('ps').style.display="block";
                                    document.getElementById('ps').innerHTML="**please enter new Password";
                                    return false;
                                }

                                if (!b.match(passpatern))
                                {
                                    document.getElementById('ps').style.display="block";
                                    document.getElementById('ps').innerHTML="**Min length 8 | One Uppercase |One lowercase | One number";
                                    return false;
                                }
                                else{
                                        document.getElementById('ps').style.display="none";
                                    }

                                    if(c=="")
                                {
                                    document.getElementById('cps').style.display="block";
                                    document.getElementById('cps').innerHTML="**please enter Confirm Password";
                                    return false;
                                }
                                else{
                                        document.getElementById('cps').style.display="none";
                                        
                                    }
                                    if(b!=c)
                                    {
                                        document.getElementById('ps').style.display="block";
                                        document.getElementById('ps').innerHTML="**Password doesn't match";
                                        return false;
                                    }
                                    else{
                                            document.getElementById('ps').style.display="none";
                                            return true;
                                        }

                                }

                            </script>





                              <div style="display:none;" id="passhides" style="display:none;">
                                <form   class="row reg_form" action="{% url 'change_password' %}" method="post"  novalidate="novalidate" onsubmit="return validateform();">
                                    {% csrf_token %}
                                    <script type="text/javascript">
                                        mydivss = document.getElementById("passhides");
                                            function passhide(d) {
                                                d.style.display = (d.style.display !== "none") ? "none" : "block";
                                            }
                                     </script>

                                         <div class="col-md-12 form-group" style="margin-top:10px;">
                                            <table><tr><td><input type="password" class="form-control" id="oldpss" name="oldpass"  placeholder="Current Password" autocomplete="off" onblur="return validateform()" onKeyUp="return validateform()"></td></tr>
                                            </table><span id="ops" style="color: red;font-size:12px;"></span>
                                        </div>
                                        <div  class="col-md-12 form-group">
                                            <table style="margin-bottom:10px;">
                                              <tr><td><input type="password" class="form-control" id="pss" name="pass"  placeholder="New Password" autocomplete="off" onblur="return validateform()" onKeyUp="return validateform()"></td>  
                                                <td><input type="password" class="form-control" id="cpss" name="cpass"  placeholder="Confirm Password" autocomplete="off" onblur="return validateform()" onKeyUp="return validateform()"></td>
                                               </tr></table>

                                               <table><tr>
                                               <td><span id="ps" style="color:red;font-size:12px;"></span></td>
                                               <td><span id="cps" style="color:red;font-size:12px;"></span></td>
                                               </tr></table>
                                               <input style="width:90px;border:none;color:#fff;background-color:rgb(250, 150, 0);border-radius:3px;height:36px;margin-top:6px;" type="submit" value="submit">
                                        </div>
                                        </form>
                               </div> 

    
                            <div style="font-size:25px;" id="hideaddress">
                                <h3 style="margin-top: 20px;">Shipping Address</h3>
                                {% for i in address %}
                                <table style="margin-bottom:100px;">
                               <tr><td>{{i.fname}} {{i.lname}}</td>
                                <td><button  id="button" class="bi bi-pencil"   onclick="hide(mydivs)" style="border:none;background-color:#fff;color:rgb(255, 136, 0);"></button></td>
                                <td><a href="{%  url 'de_address' i.id %}"><span style="color:rgb(255, 136, 0);" class="bi bi-trash"></span></a></td></tr>
                               <tr><td>{{i.phone_no}}</td></tr>
                               <tr><td>{{i.email}}</td></tr>
                               <tr><td>{{i.hname}}(HO),{{i.street}}</td></tr>
                               <tr><td>{{i.city}},Pin-{{i.pin}}</td></tr>
                               <tr><td>{{i.district}}</td></tr>
                               </table>
                               {% endfor %}
                               {% if not address %}
                               <button  id="button" class="bi bi-pencil" style="font-size:20px;border:none;background-color:#fff;color:rgb(255, 136, 0);margin-bottom:200px;"  onclick="showhide(mydiv)">  Add</button>
                                 {% endif %}
                               </div> 
                           
                            </div>      
					</div>
				</div>
                <!-- End of Profile View  -->
                <!-- Add Address Area -->
				<div class="col-lg-6">
					<div class="reg_form_inner" id="showmehideme" style="display:none;">
						<h3></h3>
						<form   class="row reg_form" action="{% url 'useraddress' %}" method="post"  novalidate="novalidate" onsubmit="return validateform();">
							{% csrf_token %}

                            <h3></h3>
                            <script type="text/javascript">
                                mydiv = document.getElementById("showmehideme");
                                    function showhide(d) {
                                        d.style.display = (d.style.display !== "none") ? "none" : "block";
                                    }
                             </script>
                                 <div class="col-md-12 form-group">
                                    <input type="text" class="form-control" id="nam" name="fname"  placeholder="First Name" autocomplete="off" >
                                    <span id="nm" style="color: red;margin-left: -140px;"></span>
								</div>
                                <div class="col-md-12 form-group">
                                    <input type="text" class="form-control" id="lnam" name="lname"  placeholder=" Last Name" autocomplete="off" >
                                    <span id="lnm" style="color: red;margin-left: -140px;"></span>
								</div>
                                <div class="col-md-12 form-group " >   
                                    <input type="email" class="form-control" id="email" name="email" placeholder="Email"  autocomplete="off" >
                                    <span id="eml" style="color: red;margin-left: -140px;"></span>    
								</div> 
                                <div class="col-md-12 form-group">
                                    <input type="tel" class="form-control" id="phone"  name="phn" placeholder="phone" autocomplete="off" >
                                    <span id="ph" style="color: red;margin-left: -140px;"></span>
								</div>   
                                <div class="col-md-12 form-group">
                                    <input type="text" class="form-control" id="addr" name="hname"  placeholder="House Name" autocomplete="off" >
                                    <span id="ad" style="color: red;margin-left: -140px;"></span>
								</div>
                                <div class="col-md-12 form-group">
                                    <input type="text" class="form-control" id="strt" name="street"  placeholder="Street" autocomplete="off">
                                    <span id="str" style="color: red;margin-left: -140px;"></span>
								</div>
                                <div class="col-md-12 form-group">
                                    <input type="text" class="form-control" id="city" name="city"  placeholder="City" autocomplete="off">
                                    <span id="ct" style="color: red;margin-left: -140px;"></span>
								</div>
                                <div class="col-md-12 form-group">
                                <select  class="form-control" name="district" id="dist"  onfocus="this.placeholder = ''" onblur="this.placeholder = 'District'" onclick=" return onclear()">
                                    <option value="">Select District</option>
                                    <option value="Kannur">Kannur</option>
                                    <option value="Kozhikode">Kozhikode</option>
                                    <option value="Malapuram">Malapuram</option>
                                    <option value="Thrissur">Thrissur</option>
                                    <option value="Ernakulam">Ernakulam</option>
                                    <option value="Idukki">Idukki</option>
                                    <option value="Kottayam">Kottayam</option>
                                    <option value="Alapuzha">Alapuzha</option>
                                </select>
								<span id="dst" style="color: red;"></span>
                                </div>
                                <div class="col-md-12 form-group">
                                    <input type="tel" class="form-control" id="pcode" value="{{profile.pincode}}" name="pin" placeholder="Postal Code" autocomplete="off" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Postal Code'" onclick=" return onclear()">
                                    <span id="pin" style="color: red;margin-left: -140px;"></span>
								</div>
							<div class="col-md-12 form-group">
								<input type="submit" value="submit" name="btn" class="primary-btn">
							</div>
						</form>

					</div>
                    <!-- End of profile Add Address -->


                    <!-- Profile Address Edit Area -->
                    <div class="reg_form_inner" id="hideme" style="display: none;">
						<h3></h3>
                        {% for i in address %}
						<form   class="row reg_form" action="{% url 'edit_address' %}" method="post"  novalidate="novalidate" onsubmit="return validateform();">
							{% csrf_token %}

                            <h3></h3>
                            <script type="text/javascript">
                                mydivs = document.getElementById("hideme");
                                    function hide(d) {
                                        d.style.display = (d.style.display !== "none") ? "none" : "block";
                                    }
                             </script>
                                 <div class="col-md-12 form-group">
                                    <input type="text" class="form-control" id="nam" name="fname"  value="{{i.fname}}" placeholder="First Name" autocomplete="off" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Name'" onclick=" return onclear()">
                                    <span id="nm" style="color: red;margin-left: -140px;"></span>
								</div>
                                <div class="col-md-12 form-group">
                                    <input type="text" class="form-control" id="lnam" name="lname"  value="{{i.lname}}" autocomplete="off" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Name'" onclick=" return onclear()">
                                    <span id="lnm" style="color: red;margin-left: -140px;"></span>
								</div>
                                <div class="col-md-12 form-group " >   
                                    <input type="email" class="form-control" id="email" name="email" value="{{i.email}}"  autocomplete="off" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email'" onclick=" return onclear()">
                                    <span id="eml" style="color: red;margin-left: -140px;"></span>    
								</div> 
                                <div class="col-md-12 form-group">
                                    <input type="tel" class="form-control" id="phone"  name="phn" value="{{i.phone_no}}" autocomplete="off" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Phone'" onclick=" return onclear()">
                                    <span id="ph" style="color: red;margin-left: -140px;"></span>
								</div>   
                                <div class="col-md-12 form-group">
                                    <input type="text" class="form-control" id="addr" name="hname"  value="{{i.hname}}" autocomplete="off" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Address'" onclick=" return onclear()">
                                    <span id="ad" style="color: red;margin-left: -140px;"></span>
								</div>
                                <div class="col-md-12 form-group">
                                    <input type="text" class="form-control" id="strt" name="street"  value="{{i.street}}" autocomplete="off" onfocus="this.placeholder = ''" onblur="this.placeholder = 'City'" onclick=" return onclear()">
                                    <span id="str" style="color: red;margin-left: -140px;"></span>
								</div>
                                <div class="col-md-12 form-group">
                                    <input type="text" class="form-control" id="city" name="city"  value="{{i.city}}" autocomplete="off" onfocus="this.placeholder = ''" onblur="this.placeholder = 'City'" onclick=" return onclear()">
                                    <span id="ct" style="color: red;margin-left: -140px;"></span>
								</div>
                                <div class="col-md-12 form-group">
                                <select  class="form-control" name="district" id="dist"  onfocus="this.placeholder = ''" onblur="this.placeholder = 'District'" onclick=" return onclear()">
                                    <option value="{{i.district}}">{{i.district}}</option>
                                    <option value="Kannur">Kannur</option>
                                    <option value="Kozhikode">Kozhikode</option>
                                    <option value="Malapuram">Malapuram</option>
                                    <option value="Thrissur">Thrissur</option>
                                    <option value="Ernakulam">Ernakulam</option>
                                    <option value="Idukki">Idukki</option>
                                    <option value="Kottayam">Kottayam</option>
                                    <option value="Alapuzha">Alapuzha</option>
                                </select>
								<span id="dst" style="color: red;"></span>
                                </div>
                                <div class="col-md-12 form-group">
                                    <input type="tel" class="form-control" id="pcode" value="{{i.pin}}" name="pin"  autocomplete="off" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Postal Code'" onclick=" return onclear()">
                                    <span id="pin" style="color: red;margin-left: -140px;"></span>
								</div>
							<div class="col-md-12 form-group">
								<input type="submit" value="submit" name="btn" class="primary-btn">
							</div>
						</form>
                       {% endfor %}
					</div> 
				</div>
                <!-- End of Profile Address Edit -->
                </div>
            </div>
            <!-- End of Change Password -->
			</div>
		</div>
	</section>
	<!--================End  Box Area =================-->
{% endblock %}