{% extends 'base.html' %}
{% load static %}
{% block content %}


<!-- ################### Banner Area #################### -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
	<!-- Start Banner Area -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	 <section class="banner-area organic-breadcrumb">
		<div class="container" style="margin-bottom:-80px;">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Profile</h1>
					<nav class="d-flex align-items-center">
						<h6 style="color:#fff ;">****************</h6>
					</nav>
				</div>
			</div>
		</div>
	</section>
  </script>
  <!-- ################### End Of Banner Area ############### -->


   <body >
      <div class="main-wrapper" style="margin-left:-170px;"> 

         <div class="page-wrapper"  >
            <div class="content container-fluid">
            
               <div class="row">
                  <div class="col-md-12">
                     <div class="profile-header">
                        <div class="row align-items-center">
                           <div class="col-auto profile-image">
                              <a href="#">
                              <img class="rounded-circle" alt="User Image" src="{% static 'assets/img/profiles/avatar-02.jpg' %}">
                              </a>
                           </div>
                           <div class="col ml-md-n2 profile-user-info">
                              <h4 class="user-name mb-0">John Doe</h4>
                              <h6 class="text-muted">UI/UX Design Team</h6>
                              <div class="user-Location"><i class="fas fa-map-marker-alt"></i> Florida, United States</div>
                              <div class="about-text">Lorem ipsum dolor sit amet.</div>
                           </div>
                           
                        </div>
                     </div>
                     <div class="profile-menu">
                        <ul class="nav nav-tabs nav-tabs-solid">
                           <li class="nav-item">
                              <a class="nav-link active" data-toggle="tab" href="#per_details_tab">About</a>
                           </li>
                           <li class="nav-item">
                              <a class="nav-link" data-toggle="tab" href="#password_tab">Password</a>
                           </li>
                           <li class="nav-item">
                              <a class="nav-link" data-toggle="tab" href="#address_tab">Shipping Address</a>
                           </li>
                           <li class="nav-item">
                              <a class="nav-link" data-toggle="tab" href="#order_tab">My Order</a>
                           </li>
                        </ul>
                     </div>
                     <div class="tab-content profile-tab-cont">
                        <div class="tab-pane fade show active" id="per_details_tab">
                           <div class="row">

                              <div class="col-lg-9">
                                 <div class="card">
                                    <div class="card-body" >
                                       <h5 class="card-title d-flex justify-content-between">
                                          <span>Personal Details</span>
                                       </h5>
                                       <div class="row" >
                                          <p class="col-sm-3 text-muted text-sm-right mb-0 mb-sm-3">Name</p>
                                          <p class="col-sm-9">John Doe</p>
                                       </div>
                                       <div class="row">
                                          <p class="col-sm-3 text-muted text-sm-right mb-0 mb-sm-3">Date of Birth</p>
                                          <p class="col-sm-9">24 Jul 1983</p>
                                       </div>
                                       <div class="row">
                                          <p class="col-sm-3 text-muted text-sm-right mb-0 mb-sm-3">Email ID</p>
                                          <p class="col-sm-9"><a href="https://preschool.dreamguystech.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="711b1e191f151e14311409101c011d145f121e1c">[email&#160;protected]</a></p>
                                       </div>
                                       <div class="row">
                                          <p class="col-sm-3 text-muted text-sm-right mb-0 mb-sm-3">Mobile</p>
                                          <p class="col-sm-9">305-310-5857</p>
                                       </div>
                                       <div class="row">
                                          <p class="col-sm-3 text-muted text-sm-right mb-0">Address</p>
                                          <p class="col-sm-9 mb-0">4663 Agriculture Lane,<br>
                                             Miami,<br>
                                             Florida - 33165,<br>
                                             United States.
                                          </p>
                                       </div>
                                    </div>

                                    
                                 </div>
                              </div>


                              <div class="col-lg-3">                 
                                 <div class="card">
                                    <div class="card-body">
                                       <h5 class="card-title d-flex justify-content-between">
                                          <span>Skills </span>
                                       </h5>
                                       <div class="skill-tags">
                                          <span>Html5</span>
                                          <span>CSS3</span>
                                          <span>WordPress</span>
                                          <span>Javascript</span>
                                          <span>Android</span>
                                          <span>iOS</span>
                                          <span>Angular</span>
                                          <span>PHP</span>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>

                        <!-- Change Password Form -->
                        <div id="password_tab" class="tab-pane fade">
                           <div class="card">
                              <div class="card-body">
                                 <h5 class="card-title">Change Password</h5>
                                 <div class="row">
                                    <div class="col-md-10 col-lg-6">
                                       <form>
                                          <div class="form-group">
                                             <label>Old Password</label>
                                             <input type="password" class="form-control">
                                          </div>
                                          <div class="form-group">
                                             <label>New Password</label>
                                             <input type="password" class="form-control">
                                          </div>
                                          <div class="form-group">
                                             <label>Confirm Password</label>
                                             <input type="password" class="form-control">
                                          </div>
                                          <button class="btn btn-primary" type="submit">Save Changes</button>
                                       </form>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <!-- End Of Change Password Form -->

                        <!-- Add Shipping Address Form -->
                        <div id="address_tab" class="tab-pane fade">
                           <div class="card">
                              <div class="card-body">
                                 <h5 class="card-title">Add Shipping Address</h5>
                                 <div class="row">
                                    <div class="col-md-10 col-lg-6">
                                       <form>

                                          <table>
                                             <tr>
                                                <td>
                                                   <div class="form-group">
                                                      <label style="font-weight:bold;">House Name</label>
                                                      <input type="text" class="form-control" style="width:280px;">
                                                   </div>
                                                </td>
                                                <td>
                                                <div class="form-group">
                                                   <label style="font-weight:bold;">Landmark</label>
                                                   <input type="text" class="form-control" style="width:280px;">
                                                </div>
                                                </td>
                                             </tr>
                                             <tr>
                                                <td>
                                                   <div class="form-group">
                                                      <label style="font-weight:bold;">City</label>
                                                      <input type="text" class="form-control">
                                                   </div>
                                                </td>
                                                <td>                                              
                                                   <div class="form-group">
                                                      <label style="font-weight:bold;">Pin</label>
                                                      <input type="tel" maxlength="6" class="form-control">
                                                   </div>
                                                </td>                                                                       
                                             </tr>
                                            <tr>
                                             <td></td>
                                             <td>    
                                                <select id="#" name="#" >
                                                   <option  >Select District</option>
                                                   <option>Ernakulam</option>
                                                   <option>Kozhikode</option>
                                                   <option>Thrissur</option>
                                                   <option>Kottayam</option>
                                                </select> 
                                          </td>
                                            </tr>
                                             </table>

                                          <button class="btn btn-primary" type="submit">Save Changes</button>
                                       </form>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <!-- End Of Shipping Address Form -->


                        <!-- View My Order Page -->
                        <div id="order_tab" class="tab-pane fade">
                           <div class="card">
                              <div class="card-body">
                                 <h5 class="card-title">View Order</h5>
                                 <div class="row">
                                    <div class="col-md-10 col-lg-6">
                                       <form>
                                          <div class="form-group">
                                             <label>Old Password</label>
                                             <input type="password" class="form-control">
                                          </div>
                                          <div class="form-group">
                                             <label>New Password</label>
                                             <input type="password" class="form-control">
                                          </div>
                                          <div class="form-group">
                                             <label>Confirm Password</label>
                                             <input type="password" class="form-control">
                                          </div>
                                          <button class="btn btn-primary" type="submit">Save Changes</button>
                                       </form>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <!--  End Of View My Order -->


                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </body>
   {% endblock %}