{% extends 'base.html' %}
{% load static %}
{% block content %}


<!-- ################### Banner Area #################### -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
	<!-- Start Banner Area -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	 <section class="banner-area organic-breadcrumb">
		<div class="container" style="margin-bottom:-80px;">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Profile</h1>
					<nav class="d-flex align-items-center">
						<h6 style="color:#fff ;">****************</h6>
					</nav>
				</div>
			</div>
		</div>
	</section>
  </script>
  <!-- ################### End Of Banner Area ############### -->
  {% include 'alert.html' %}

  <script>
      setTimeout(function(){
        if ($('#msg').length > 0){
          $('#msg').remove();
          }
        },4000)
  
  </script>

   <body >
      <div class="main-wrapper" style="margin-left:-170px;"> 

         <div class="page-wrapper"  >
            <div class="content container-fluid">
            
               <div class="row">
                  <div class="col-md-12">
                     <div class="profile-header">
                        <div class="row align-items-center">
                           <div class="col-auto profile-image">
                              <a href="#">
                              <img class="rounded-circle" alt="User Image" src="{% static 'assets/img/profiles/avatar-02.jpg' %}">
                              </a>
                           </div>
                           <div class="col ml-md-n2 profile-user-info">

                              <h4 class="user-name mb-0">{{user.name}} {{user.lname}}</h4>
                              <div class="user-Location">{{user.email_id}}</div>
                              <div class="about-text">{{user.phone_no}}</div>
                              <!-- <i class="fas fa-map-marker-alt"></i> -->
                           </div>
                           
                        </div>
                     </div>
                     <div class="profile-menu" >
                        <ul class="nav nav-tabs nav-tabs-solid" >
                           <li class="nav-item" style="margin-left:400px;">
                              <a class="nav-link active" data-toggle="tab" href="#per_details_tab">Shipping Address</a>
                           </li>
                           <li class="nav-item">
                              <a class="nav-link" data-toggle="tab" href="#address_tab">Add Address</a>
                           </li>
                           <li class="nav-item">
                              <a class="nav-link" data-toggle="tab" href="#order_tab">My Order</a>
                           </li>
                           <li class="nav-item">
                              <a class="nav-link" data-toggle="tab" href="#password_tab">Change Password</a>
                           </li>
                        </ul>
                     </div>
                     <div class="tab-content profile-tab-cont">
                        <div class="tab-pane fade show active" id="per_details_tab">
                           <div class="row">

                              <div class="col-lg-9">
                                 <div class="card">
                                    <div class="card-body" >
                                       <h5 class="card-title d-flex justify-content-between">
                                          <span>Personal Details</span>
                                       </h5>
                                       <div class="row" >
                                          <p class="col-sm-3 text-muted text-sm-right mb-0 mb-sm-3">Name</p>
                                          <p class="col-sm-9">John Doe</p>
                                       </div>
                                       <div class="row">
                                          <p class="col-sm-3 text-muted text-sm-right mb-0 mb-sm-3">Date of Birth</p>
                                          <p class="col-sm-9">24 Jul 1983</p>
                                       </div>
                                       <div class="row">
                                          <p class="col-sm-3 text-muted text-sm-right mb-0 mb-sm-3">Email ID</p>
                                          <p class="col-sm-9"><a href="https://preschool.dreamguystech.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="711b1e191f151e14311409101c011d145f121e1c">[email&#160;protected]</a></p>
                                       </div>
                                       <div class="row">
                                          <p class="col-sm-3 text-muted text-sm-right mb-0 mb-sm-3">Mobile</p>
                                          <p class="col-sm-9">305-310-5857</p>
                                       </div>
                                       <div class="row">
                                          <p class="col-sm-3 text-muted text-sm-right mb-0">Address</p>
                                          <p class="col-sm-9 mb-0">4663 Agriculture Lane,<br>
                                             Miami,<br>
                                             Florida - 33165,<br>
                                             United States.
                                          </p>
                                       </div>
                                    </div>

                                    
                                 </div>
                              </div>


                              <div class="col-lg-3">                 
                                 <div class="card">
                                    <div class="card-body">
                                       <h5 class="card-title d-flex justify-content-between">
                                          <span>Skills </span>
                                       </h5>
                                       <div class="skill-tags">
                                          <span>Html5</span>
                                          <span>CSS3</span>
                                          <span>WordPress</span>
                                          <span>Javascript</span>
                                          <span>Android</span>
                                          <span>iOS</span>
                                          <span>Angular</span>
                                          <span>PHP</span>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>





                        <script>
                                
                           function validateform()
                           {
                               var a=document.getElementById('oldpss').value.trim();
                               var b=document.getElementById('pss').value.trim();
                               var c=document.getElementById('cpss').value.trim();

                               var passpatern=/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}/;

                               if(a=="")
                               {
                                   document.getElementById('ops').style.display="block";
                                   document.getElementById('ops').innerHTML="**please enter Confirm Password";
                                   return false;
                               }
                               else{
                                       document.getElementById('ops').style.display="none";            
                                   }
                                   
                               if(b=="")
                               {
                                   document.getElementById('ps').style.display="block";
                                   document.getElementById('ps').innerHTML="**please enter new Password";
                                   return false;
                               }

                               if (!b.match(passpatern))
                               {
                                   document.getElementById('ps').style.display="block";
                                   document.getElementById('ps').innerHTML="**Min length 8 | One Uppercase |One lowercase | One number";
                                   return false;
                               }
                               else{
                                       document.getElementById('ps').style.display="none";
                                   }

                                   if(c=="")
                               {
                                   document.getElementById('cps').style.display="block";
                                   document.getElementById('cps').innerHTML="**please enter Confirm Password";
                                   return false;
                               }
                               else{
                                       document.getElementById('cps').style.display="none";
                                       
                                   }
                                   if(b!=c)
                                   {
                                       document.getElementById('ps').style.display="block";
                                       document.getElementById('ps').innerHTML="**Password doesn't match";
                                       return false;
                                   }
                                   else{
                                           document.getElementById('ps').style.display="none";
                                           return true;
                                       }
                               }
                           </script>
                        <!-- Change Password Form -->
                        <div id="password_tab" class="tab-pane fade">
                           <div class="card">
                              <div class="card-body">
                                 <h5 class="card-title">Change Password</h5>
                                 <div class="row">
                                    <div class="col-md-10 col-lg-6">
                                       <form action="{% url 'change_password' %}" method="post"  novalidate="novalidate" onsubmit="return validateform();">
                                          {% csrf_token %}
                                          <div class="form-group">
                                             <label>Old Password</label>
                                             <input type="password" class="form-control" id="oldpss" name="oldpass"   autocomplete="off" onblur="return validateform()" onKeyUp="return validateform()">
                                             <span id="ops" style="color: red;font-size:12px;">
                                          </div>
                                          <div class="form-group">
                                             <label>New Password</label>
                                             <input type="password" class="form-control" id="pss" name="pass"   autocomplete="off" onblur="return validateform()" onKeyUp="return validateform()">
                                             <span id="ps" style="color:red;font-size:12px;">
                                          </div>
                                          <div class="form-group">
                                             <label>Confirm Password</label>
                                             <input type="password" class="form-control" id="cpss" name="cpass"  autocomplete="off" onblur="return validateform()" onKeyUp="return validateform()">
                                             <span id="cps" style="color:red;font-size:12px;">
                                          </div>
                                          <button class="btn btn-primary" type="submit">Save Changes</button>
                                       </form>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <!-- End Of Change Password Form -->

                        <!-- Add Shipping Address Form -->
                        <div id="address_tab" class="tab-pane fade">
                           <div class="card">
                              <div class="card-body">
                                 <h5 class="card-title">Add Shipping Address</h5>
                                 <div class="row">
                                    <div class="col-md-10 col-lg-6">
                                       <form action="{% url 'useraddress' %}" method="post"  novalidate="novalidate" onsubmit="return validateforms();">
                                          {% csrf_token %}
                                          <table>
                                             <tr>
                                                <td>
                                                   <div class="form-group">
                                                      <label style="font-weight:bold;">First Name</label>
                                                      <input type="text" class="form-control" style="width:280px;" id="fnm" name="fname"  autocomplete="off" onblur="return validateforms()" onKeyUp="return validateforms()">
                                                   </div>
                                                </td>     
                                                <td>
                                                <div class="form-group">
                                                   <label style="font-weight:bold;">Last Name</label>
                                                   <input type="text" class="form-control" style="width:280px;" id="lnm" name="lname"  autocomplete="off" onblur="return validateforms()" onKeyUp="return validateforms()">
                                                </div>
                                                </td>
                                                <td>
                                                   <div class="form-group">
                                                      <label style="font-weight:bold;">Phone Number</label>
                                                      <input type="tel" class="form-control" style="width:280px;" maxlength="10" minlength="10" id="phn"  name="phn" autocomplete="off" onblur="return validateforms()" onKeyUp="return validateforms()">
                                                   </div>
                                                   </td>
                                             </tr>

                                             <tr>
                                                <td>
                                                   <div class="form-group">
                                                      <label style="font-weight:bold;">Email</label>
                                                      <input type="text" class="form-control" id="email" name="email"   autocomplete="off" onblur="return validateforms()" onKeyUp="return validateforms()">
                                                      <span id="eml" style="color: red;margin-left: -140px;"></span>    
                                                   </div>
                                                </td>
                                                <td>                                              
                                                   <div class="form-group">
                                                      <label style="font-weight:bold;">House Name</label>
                                                      <input type="text"  class="form-control" id="addr" name="hname" autocomplete="off" onblur="return validateforms()" onKeyUp="return validateforms()">
                                                      <span id="ad" style="color: red;margin-left: -140px;"></span>                                                      
                                                   </div>
                                                </td> 
                                                <td>                                              
                                                   <div class="form-group">
                                                      <label style="font-weight:bold;">Street</label>
                                                      <input type="text"  class="form-control" id="strt" name="street" autocomplete="off" onblur="return validateforms()" onKeyUp="return validateforms()">
                                                      <span id="str" style="color: red;margin-left: -140px;"></span>
                                                   </div>
                                                </td>                                                                       
                                             </tr>
                                             <tr>
                                                <td>
                                                   <div class="form-group">
                                                      <label style="font-weight:bold;">City</label>
                                                      <input type="text" class="form-control" id="city" name="city" autocomplete="off" onblur="return validateforms()" onKeyUp="return validateforms()">
                                                      <span id="ct" style="color: red;margin-left: -140px;"></span>
                                                   </div>
                                                </td>
                                                <td>                                              
                                                   <div class="form-group">
                                                      <label style="font-weight:bold;">Pin</label>
                                                      <input type="tel"  class="form-control" id="pcode" maxlength="6" minlength="6" name="pin"  autocomplete="off" onblur="return validateforms()" onKeyUp="return validateforms()">
                                                      <span id="pin" style="color: red;margin-left: -140px;"></span>                                                  
                                                   </div>
                                                </td> 
                                                <td>                                              
                                                   <div style="margin-top:10px;">                                                     
                                                         <select  name="district" id="dist" onkeyup=" return validateforms();"  onclick=" return onclears();" >
                                                            <option value="">Select District</option>
                                                            <option value="Ernakulam">Ernakulam</option>
                                                            <option value="Kozhikode">Kozhikode</option>
                                                            <option value="Thrissur">Thrissur</option>
                                                            <option value="Kottayam">Kottayam</option>
                                                         </select> 
                                 								<span id="dst" style="color: red;"></span>                                                  
                                                   </div>
                                                </td>                                                                       
                                             </tr>
                                                                                                              
                                             </table>

                                          <button class="btn btn-primary" style="background-color:#ffa826;border:none;" type="submit">Save Changes</button>
                                       </form>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <!-- End Of Shipping Address Form -->


                        <!-- View My Order Page -->
                        <div id="order_tab" class="tab-pane fade">
                           <div class="card">
                              <div class="card-body">
                                 <h5 class="card-title">View Order</h5>
                                 <div class="row">
                                    <div class="col-md-10 col-lg-6">
                                       <form>
                                          <div class="form-group">
                                             <label>Old Password</label>
                                             <input type="password" class="form-control">
                                          </div>
                                          <div class="form-group">
                                             <label>New Password</label>
                                             <input type="password" class="form-control">
                                          </div>
                                          <div class="form-group">
                                             <label>Confirm Password</label>
                                             <input type="password" class="form-control">
                                          </div>
                                          <button class="btn btn-primary" type="submit">Save Changes</button>
                                       </form>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <!--  End Of View My Order -->


                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </body>
   {% endblock %}