{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
	<!-- Start Banner Area -->
	 <section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Login/Register</h1>
					<nav class="d-flex align-items-center">
						<h6 style="color:#fff ;">**************************************</h6>
						
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->
    {% include 'alert.html' %}

  <script>
	  setTimeout(function(){
	    if ($('#msg').length > 0){
	      $('#msg').remove();
	      }
	    },4000)

  </script>
	<!--================Login Box Area =================-->
	<script>
		function validateform()
		 {
			 var a=document.getElementById('otp').value.trim();	
	    if(a=="")
                {
                    document.getElementById('ot').style.display = "block";
                    document.getElementById('ot').innerHTML="**Please Enter OTP";
                    return false;
                }
				else{
                        document.getElementById('ot').style.display="none";
                        return true;
                    }
				
		 }
		
		 </script>

	<section class="login_box_area section_gap">
		<div class="container">
			<div class="row">
				
				<div class="col-lg-6">
					<div class="login_form_inner" >
						<h3>Enter OTP</h3>
						<form class="row login_form"  action="{% url 'verify_forgot_otp' %}" method="post" id="contactForm" novalidate="novalidate" onsubmit="return validateform();" >
							{% csrf_token %}
                            <div class="col-md-12 form-group">
								<input type="tel" readonly class="form-control"  name="email" value="{{session}}" >
							</div>
							<div class="col-md-12 form-group">
								<input type="tel" class="form-control" id="otp" maxlength="4" minlength="4" name="otp" placeholder="Enter OTP" onkeyup="return validateform()" onblur="return validateform()">
								<span id="ot" style="color: red;"></span>
							</div>
							<div class="col-md-12 form-group">
							</div>
							<div class="col-md-12 form-group">
								<button type="submit" value="submit" class="primary-btn">Verify</button>
							</div>
						</form>
					</div>
				</div>

                
			</div>
		</div>
	</section>
	<!--================End Login Box Area =================-->

{% endblock %}

