{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- start banner Area -->
<section class="banner-area organic-breadcrumb">
	<div class="container">
		<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
			<div class="col-first">
				<h1>Smart Store</h1>
				<nav class="d-flex align-items-center">
<!--						<a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>-->
					<a href="category.html"></a>
				</nav>
			</div>
		</div>
	</div>
</section>
<!-- End banner Area -->

{% include 'alert.html' %}

<script>
	setTimeout(function(){
	  if ($('#msg').length > 0){
		$('#msg').remove();
		}
	  },4000)

</script>

    <!--================Cart Area =================-->
    <section class="cart_area">
        {% if not carts %}
        
            <div style="height:300px;text-align: center;">
                  <h2 style="font-family: sans-serif;color: rgb(246, 86, 12);">Wishlist is Empty !!!!</h2><br>
                  <a class="gray_btn" href="{%  url 'home'%}" >Continue Shopping</a>
            </div>
                </div>
                  {% else %}
        <div class="container">
            <div class="cart_inner">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr >
                                <th style="font-weight: bolder;color:rgb(249, 144, 7);" scope="col">Product</th>
                                <th style="font-weight: bolder;color:rgb(249, 144, 7);" scope="col">Price</th>
                            </tr>
                        </thead>
                        <tbody>
                           
                            {%for cart in carts %}
                            {% if cart.user_id == email %}
                            <tr>
                                <td>
                                    <div class="media">
                                        <div class="d-flex">
                                            <img style="height:70px;width:70px;" src="{{cart.product.image.url}}" alt="">
                                        </div>
                                        <div class="media-body">
                                            <p style="font-weight:bold;color:black;">{{ cart.product.name }}</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <h5>{{ cart.product.price }}</h5>
                                </td>
                                <td>
                                    <a href="{%  url 'add_cart' cart.product.id %}"><button style="border:none; background-color:rgb(249, 144, 7);width:120px;height:35px;border-radius: 3px;">Add to Cart</button></a>
                                    <a style="margin-left:10px ;" href="{%  url 'de_wishlist' cart.id %}"><button style="border:none; background-color:rgb(249, 144, 7);width:80px;height:35px;border-radius: 3px;">Remove</button></a>
                                </td>
                            </tr>                          
                            {% endif %}
                            
                            {% endfor %}
                            <td>
                                <div class="checkout_btn_inner d-flex align-items-center">
                                    <a class="gray_btn" href="{%  url 'home'%}">Continue Shopping</a>
                                
                                </div>
                            </td>
                        </tbody>
                    </table>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    <!--================End Cart Area =================-->
	{% endblock %}